/* screen - c2caccesstokenlifetab */

.c2caccesstokenlifetab {
  background-color: var(--white);
  height: 1213px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2caccesstokenlifetab .flex-col-hinXmE {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 320px;
  min-height: 949px;
  position: absolute;
  top: 64px;
  width: 1600px;
}

.c2caccesstokenlifetab .flex-row-DwBSNn {
  align-items: flex-end;
  background-color: transparent;
  background-image: url(../img/c2caccesstokenfamilyhub-webtitle-area-8E55AFC8-D5BB-4B4B-8BA1-F9B45CFEF815@2x.png);
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 170px;
  justify-content: flex-start;
  min-width: 1600px;
  position: relative;
  width: auto;
}

.c2caccesstokenlifetab .web-tabc2-c_-access-token-dWUhGx {
  background-color: transparent;
  flex-shrink: 1;
  height: 47px;
  position: relative;
  width: 1600px;
}

.c2caccesstokenlifetab .tab-ZhWc1Q {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.c2caccesstokenlifetab .life-tab-device-tab-UXoiZb {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 263px;
}

.c2caccesstokenlifetab .partner-refresh-toke-UXoiZb {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 207px;
}

.c2caccesstokenlifetab .st-refresh-token-inv-UXoiZb {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 175px;
}

.c2caccesstokenlifetab .family-hub-token-i-UXoiZb {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 187px;
}

.c2caccesstokenlifetab .web-sub_-title-DwBSNn {
  background-color: transparent;
  flex-shrink: 1;
  height: 58px;
  margin-top: 50px;
  position: relative;
  width: 1600px;
}

.c2caccesstokenlifetab .flex-row-gOaEjy {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 671px;
  justify-content: flex-start;
  margin-right: 20.0px;
  margin-top: 0px;
  min-width: 1420px;
  position: relative;
  width: auto;
}

.c2caccesstokenlifetab .group-container-ZLQLPk {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 671px;
  position: relative;
  width: 690px;
}

.c2caccesstokenlifetab .group-8-txx55z {
  background-color: transparent;
  flex-shrink: 1;
  height: 350px;
  position: relative;
  width: 690px;
}

.c2caccesstokenlifetab .group-7-txx55z {
  background-color: transparent;
  flex-shrink: 1;
  height: 221px;
  margin-top: 100px;
  position: relative;
  width: 315px;
}

.c2caccesstokenlifetab .group-4-ZLQLPk {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 50px;
  min-height: 271px;
  position: relative;
  width: 680px;
}

.c2caccesstokenlifetab .table-guide-title-lTHxfm {
  background-color: transparent;
  flex-shrink: 1;
  height: 56px;
  position: relative;
  width: 680px;
}

.c2caccesstokenlifetab .group-2-lTHxfm {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 0px;
  min-height: 168px;
  position: relative;
  width: 680px;
}

.c2caccesstokenlifetab .tableguidetext-container-6wzRil {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 57px;
  justify-content: flex-start;
  min-width: 680px;
  position: relative;
  width: auto;
}

.c2caccesstokenlifetab .table-guide-text1line-gI8Tv5 {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  position: relative;
  width: 50px;
}

.c2caccesstokenlifetab .table-guide-text2line_m-copy-gI8Tv5 {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 57px;
  margin-left: 10px;
  position: relative;
  width: 340px;
}

.c2caccesstokenlifetab .table-guide-text1line-copy-gI8Tv5 {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 270px;
}

.c2caccesstokenlifetab .tableguidetext-container-OOX4ox {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 101px;
  justify-content: flex-start;
  margin-top: 10px;
  min-width: 620px;
  position: relative;
  width: auto;
}

.c2caccesstokenlifetab .table-guide-text2line_m-CwtJ9G {
  background-color: transparent;
  flex-shrink: 1;
  height: 101px;
  position: relative;
  width: 340px;
}

.c2caccesstokenlifetab .table-guide-text1line-CwtJ9G {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 270px;
}

.c2caccesstokenlifetab .group-3-lTHxfm {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 37px;
  justify-content: flex-start;
  margin-top: 10px;
  min-width: 680px;
  position: relative;
  width: auto;
}

.c2caccesstokenlifetab .table-guide-text1line-xsqxGc {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  position: relative;
  width: 50px;
}

.c2caccesstokenlifetab .table-guide-text2line_m-xsqxGc {
  background-color: transparent;
  flex-shrink: 1;
  height: 34px;
  margin-left: 10px;
  position: relative;
  width: 340px;
}

.c2caccesstokenlifetab .table-guide-text1line-G0FPmZ {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 270px;
}

.c2caccesstokenlifetab .lnb-service-feature-hinXmE {
  background-color: var(--concrete);
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2caccesstokenlifetab .background-A8Qtrf {
  background-color: var(--concrete);
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2caccesstokenlifetab .line-A8Qtrf {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2caccesstokenlifetab .home-net-gui-guidelin-A8Qtrf {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup18 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup18 .web-index-title-reference-copy-2-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-DB1bXV {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .empty-TCnAhn {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup18 .line-copy-TCnAhn {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup18 .empty-a0vM2w {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup18 .web-index-title-reference-copy-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-copy-DB1bXV {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .empty-gEjEjT {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup18 .line-copy-gEjEjT {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup18 .empty-458w1n {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup18 .web-index-title-reference-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-contents1dpeth_close-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-contents1dpeth_close-QlhZFp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-contents1dpeth_close-tFKiV5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-contents1dpeth_close-copy-2-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-contents1dpeth_close-fTvVOi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-contents1d-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-contents1dpeth_open_selected-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-contents1d-QlhZFp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .web-index-contents1d-tFKiV5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .group-copy-2-DB1bXV {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup18 .empty-Tk3PPK {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup18 .line-copy-Tk3PPK {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup18 .empty-oEALgf {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup18 .web-index-title-reference-copy-3-DB1bXV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.c2caccesstokenlifetab .webgnb-hinXmE {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2caccesstokenlifetab .background-6D1ixC {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2caccesstokenlifetab .index-6D1ixC {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 64px;
  justify-content: flex-start;
  left: 420px;
  min-width: 123px;
  position: absolute;
  top: 0px;
  width: auto;
}

.c2caccesstokenlifetab .web-index-select-6qy7G1 {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 64px;
  position: relative;
  width: 32px;
}

.c2caccesstokenlifetab .web-index-unselect-6qy7G1 {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 64px;
  margin-left: 60px;
  position: relative;
  width: 31px;
}

.c2caccesstokenlifetab .web-index-unelect_main-6D1ixC {
  background-color: transparent;
  background-image: url(../img/c2cconnectedneedapp-logo-A96B53CA-63FE-489E-A008-E6BA7B3CC4BF@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}
