/* screen - c2cconnectedstartpage */

.c2cconnectedstartpage {
  align-items: flex-end;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  min-height: 2453px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2cconnectedstartpage .overlap-group-aj6brw {
  background-color: transparent;
  flex-shrink: 1;
  height: 1247px;
  position: relative;
  width: 1920px;
  z-index: 1;
}

.c2cconnectedstartpage .flex-col-PvVoPQ {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 320px;
  min-height: 963px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.c2cconnectedstartpage .auto-flex1-Ckz6MB {
  background-color: transparent;
  flex-shrink: 1;
  height: 58px;
  position: relative;
  width: 1600px;
}

.c2cconnectedstartpage .strong-man-gui-5efTyx {
  background-color: transparent;
  height: 18px;
  left: 820px;
  position: absolute;
  top: 30px;
  width: 232px;
}

.c2cconnectedstartpage .web-sub_-title-5efTyx {
  background-color: transparent;
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.c2cconnectedstartpage .group-container-Ckz6MB {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 905px;
  justify-content: flex-start;
  margin-right: 20.0px;
  margin-top: 0px;
  min-width: 1420px;
  position: relative;
  width: auto;
}

.c2cconnectedstartpage .group-6-eGPobX {
  background-color: transparent;
  flex-shrink: 1;
  height: 905px;
  position: relative;
  width: 690px;
}

.c2cconnectedstartpage .group-12-eGPobX {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 50px;
  min-height: 546px;
  position: relative;
  width: 680px;
}

.c2cconnectedstartpage .table-guide-title-gVqYXd {
  background-color: transparent;
  flex-shrink: 1;
  height: 56px;
  position: relative;
  width: 680px;
}

.c2cconnectedstartpage .group-5-gVqYXd {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 37px;
  justify-content: flex-start;
  margin-top: 0px;
  min-width: 680px;
  position: relative;
  width: auto;
}

.c2cconnectedstartpage .table-guide-text1line-kO10NC {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  position: relative;
  width: 50px;
}

.c2cconnectedstartpage .table-guide-text1line_mint-kO10NC {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 340px;
}

.c2cconnectedstartpage .table-guide-text1line-Z1PUrj {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 270px;
}

.c2cconnectedstartpage .group-4-gVqYXd {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 80px;
  justify-content: flex-start;
  margin-top: 10px;
  min-width: 680px;
  position: relative;
  width: auto;
}

.c2cconnectedstartpage .table-guide-text1line-CyAC19 {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  position: relative;
  width: 50px;
}

.c2cconnectedstartpage .table-guide-text2line_-strongman-CyAC19 {
  background-color: transparent;
  flex-shrink: 1;
  height: 80px;
  margin-left: 10px;
  position: relative;
  width: 340px;
}

.c2cconnectedstartpage .table-guide-text1line-GSGAgo {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 270px;
}

.c2cconnectedstartpage .group-9-gVqYXd {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 121px;
  justify-content: flex-start;
  margin-top: 10px;
  min-width: 680px;
  position: relative;
  width: auto;
}

.c2cconnectedstartpage .table-guide-text1line-MCSRKa {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  position: relative;
  width: 50px;
}

.c2cconnectedstartpage .table-guide-text2line_m-MCSRKa {
  background-color: transparent;
  flex-shrink: 1;
  height: 121px;
  margin-left: 10px;
  position: relative;
  width: 340px;
}

.c2cconnectedstartpage .table-guide-text1line-eOiDEz {
  background-color: transparent;
  flex-shrink: 1;
  height: 59px;
  margin-left: 10px;
  position: relative;
  width: 270px;
}

.c2cconnectedstartpage .group-8-gVqYXd {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 59px;
  justify-content: flex-start;
  margin-top: 10px;
  min-width: 680px;
  position: relative;
  width: auto;
}

.c2cconnectedstartpage .table-guide-text1line-qXx0sl {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  position: relative;
  width: 50px;
}

.c2cconnectedstartpage .table-guide-text2line_-strongman-qXx0sl {
  background-color: transparent;
  flex-shrink: 1;
  height: 59px;
  margin-left: 10px;
  position: relative;
  width: 340px;
}

.c2cconnectedstartpage .table-guide-text1line-gj8TFa {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 270px;
}

.c2cconnectedstartpage .group-10-gVqYXd {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 64px;
  justify-content: flex-start;
  margin-top: 10px;
  min-width: 680px;
  position: relative;
  width: auto;
}

.c2cconnectedstartpage .table-guide-text1line-LYGzcN {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  position: relative;
  width: 50px;
}

.c2cconnectedstartpage .table-guide-text2line_m-LYGzcN {
  background-color: transparent;
  flex-shrink: 1;
  height: 59px;
  margin-left: 10px;
  position: relative;
  width: 340px;
}

.c2cconnectedstartpage .table-guide-text2line-LYGzcN {
  background-color: transparent;
  flex-shrink: 1;
  height: 64px;
  margin-left: 10px;
  position: relative;
  width: 270px;
}

.c2cconnectedstartpage .group-11-gVqYXd {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 79px;
  justify-content: flex-start;
  margin-top: 10px;
  min-width: 680px;
  position: relative;
  width: auto;
}

.c2cconnectedstartpage .table-guide-text1line-Y1COiv {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  position: relative;
  width: 50px;
}

.c2cconnectedstartpage .table-guide-text2line_m-Y1COiv {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 79px;
  margin-left: 10px;
  position: relative;
  width: 340px;
}

.c2cconnectedstartpage .table-guide-text1line-wArrE2 {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 270px;
}

.c2cconnectedstartpage .lnb-service-feature-PvVoPQ {
  background-color: var(--concrete);
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2cconnectedstartpage .background-iKhJqs {
  background-color: var(--concrete);
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2cconnectedstartpage .line-iKhJqs {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2cconnectedstartpage .home-net-gui-guidelin-iKhJqs {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup15 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup15 .web-index-title-reference-copy-2-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-6glLD1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .empty-9fxZYK {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup15 .line-copy-9fxZYK {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup15 .empty-uJOsts {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup15 .web-index-title-reference-copy-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-copy-6glLD1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .empty-MUVuFv {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup15 .line-copy-MUVuFv {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup15 .empty-5Z2I5D {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup15 .web-index-title-reference-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents1dpeth_close-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents1dpeth_close-2h8iOF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents1dpeth_close-3H5lIh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents1dpeth_close-copy-2-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents1dpeth_close-CYlnms {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents1d-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents1dpeth_open_selected-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents1d-2h8iOF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents1d-3H5lIh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-copy-2-6glLD1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .empty-xSqfIe {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup15 .line-copy-xSqfIe {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup15 .empty-N3gNzV {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup15 .web-index-title-reference-copy-3-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.c2cconnectedstartpage .webgnb-PvVoPQ {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2cconnectedstartpage .background-IsxL8a {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2cconnectedstartpage .index-IsxL8a {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 64px;
  justify-content: flex-start;
  left: 420px;
  min-width: 123px;
  position: absolute;
  top: 0px;
  width: auto;
}

.c2cconnectedstartpage .web-index-select-4wvGuK {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 64px;
  position: relative;
  width: 32px;
}

.c2cconnectedstartpage .web-index-unselect-4wvGuK {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 64px;
  margin-left: 60px;
  position: relative;
  width: 31px;
}

.c2cconnectedstartpage .web-index-unelect_main-IsxL8a {
  background-color: transparent;
  background-image: url(../img/c2cconnectedneedapp-logo-A96B53CA-63FE-489E-A008-E6BA7B3CC4BF@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.c2cconnectedstartpage .web-title-area-aj6brw {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
  z-index: 3;
}

.c2cconnectedstartpage .web-tabc2-c_apart-servide-connected-aj6brw {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
  z-index: 4;
}

.c2cconnectedstartpage .tab-kM6wDL {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.c2cconnectedstartpage .overview-caemYC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 58px;
}

.c2cconnectedstartpage .onboarding_start-pag-caemYC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 145px;
}

.c2cconnectedstartpage .onboarding_-caemYC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 188px;
}

.c2cconnectedstartpage .onboarding_-welcome-p-caemYC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 160px;
}

.c2cconnectedstartpage .onboarding_-strongman-caemYC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 168px;
}

.c2cconnectedstartpage .group-container-aj6brw {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 906px;
  justify-content: flex-start;
  margin-right: 100px;
  margin-top: 100px;
  min-width: 1420px;
  position: relative;
  width: auto;
  z-index: 2;
}

.c2cconnectedstartpage .group-22-pNnvrV {
  background-color: transparent;
  flex-shrink: 1;
  height: 906px;
  position: relative;
  width: 668px;
}

.c2cconnectedstartpage .group-20-pNnvrV {
  background-color: transparent;
  flex-shrink: 1;
  height: 313px;
  margin-left: 72px;
  position: relative;
  width: 680px;
}
