/* screen - c2coverviewsmartapartmentcard */

.c2coverviewsmartapartmentcard {
  background-color: var(--white);
  height: 1429px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2coverviewsmartapartmentcard .flex-col-jxqCcu {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 320px;
  min-height: 1166px;
  position: absolute;
  top: 64px;
  width: 1600px;
}

.c2coverviewsmartapartmentcard .flex-row-SFHew3 {
  align-items: flex-end;
  background-color: transparent;
  background-image: url(../img/c2coverviewadd01-webtitle-area-0E4316C9-BFE9-4638-9E69-D9B59721B829@2x.png);
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 170px;
  justify-content: flex-start;
  min-width: 1600px;
  position: relative;
  width: auto;
}

.c2coverviewsmartapartmentcard .web-tabc2-c_-overview-4LzJdq {
  background-color: transparent;
  flex-shrink: 1;
  height: 47px;
  position: relative;
  width: 1600px;
}

.c2coverviewsmartapartmentcard .tab-Op7X52 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.c2coverviewsmartapartmentcard .image-TTcM9k {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 198px;
}

.c2coverviewsmartapartmentcard .smart-apartment-TTcM9k {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 108px;
}

.c2coverviewsmartapartmentcard .list-copy-TTcM9k {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 23px;
}

.c2coverviewsmartapartmentcard .smart-apartment_-card-copy-TTcM9k {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 145px;
}

.c2coverviewsmartapartmentcard .smart-apartment_-list-copy-TTcM9k {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 139px;
}

.c2coverviewsmartapartmentcard .smart-apartment-NxwtJt {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 187px;
}

.c2coverviewsmartapartmentcard .image-NxwtJt {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 145px;
}

.c2coverviewsmartapartmentcard .web-sub_-title-SFHew3 {
  background-color: transparent;
  flex-shrink: 1;
  height: 58px;
  margin-top: 50px;
  position: relative;
  width: 1600px;
}

.c2coverviewsmartapartmentcard .group-container-SFHew3 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 888px;
  justify-content: flex-start;
  margin-right: 20.0px;
  margin-top: 0px;
  min-width: 1420px;
  position: relative;
  width: auto;
}

.c2coverviewsmartapartmentcard .group-9-fxYw02 {
  background-color: transparent;
  flex-shrink: 1;
  height: 888px;
  position: relative;
  width: 690px;
}

.c2coverviewsmartapartmentcard .group-14-fxYw02 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 50px;
  min-height: 685px;
  position: relative;
  width: 680px;
}

.c2coverviewsmartapartmentcard .table-guide-title-1LnUBd {
  background-color: transparent;
  flex-shrink: 1;
  height: 56px;
  position: relative;
  width: 680px;
}

.c2coverviewsmartapartmentcard .group-6-1LnUBd {
  background-color: transparent;
  flex-shrink: 1;
  height: 59px;
  margin-top: 0px;
  position: relative;
  width: 680px;
}

.c2coverviewsmartapartmentcard .group-5-1LnUBd {
  background-color: transparent;
  flex-shrink: 1;
  height: 81px;
  margin-top: 10px;
  position: relative;
  width: 680px;
}

.c2coverviewsmartapartmentcard .group-5-copy-2-1LnUBd {
  background-color: transparent;
  flex-shrink: 1;
  height: 59px;
  margin-top: 10px;
  position: relative;
  width: 680px;
}

.c2coverviewsmartapartmentcard .group-10-1LnUBd {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 10px;
  min-height: 151px;
  position: relative;
  width: 680px;
}

.c2coverviewsmartapartmentcard .tableguidetextline-copy-container-U8PJhS {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 37px;
  justify-content: flex-start;
  min-width: 680px;
  position: relative;
  width: auto;
}

.c2coverviewsmartapartmentcard .table-guide-text1line-copy-4-s7gesd {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  position: relative;
  width: 50px;
}

.c2coverviewsmartapartmentcard .table-guide-text1line-copy-5-s7gesd {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 340px;
}

.c2coverviewsmartapartmentcard .table-guide-text1line-copy-6-s7gesd {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 270px;
}

.c2coverviewsmartapartmentcard .table-guide-text1line-copy-7-U8PJhS {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 37px;
  margin-left: 60px;
  margin-top: 10px;
  position: relative;
  width: 340px;
}

.c2coverviewsmartapartmentcard .table-guide-text1line-copy-8-U8PJhS {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 57px;
  margin-left: 60px;
  margin-top: 10px;
  position: relative;
  width: 340px;
}

.c2coverviewsmartapartmentcard .group-11-1LnUBd {
  background-color: transparent;
  flex-shrink: 1;
  height: 59px;
  margin-top: 10px;
  position: relative;
  width: 680px;
}

.c2coverviewsmartapartmentcard .group-13-1LnUBd {
  background-color: transparent;
  flex-shrink: 1;
  height: 100px;
  margin-top: 80px;
  position: relative;
  width: 80px;
}

.c2coverviewsmartapartmentcard .lnb-service-feature-jxqCcu {
  background-color: var(--concrete);
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2coverviewsmartapartmentcard .background-llxZq0 {
  background-color: var(--concrete);
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2coverviewsmartapartmentcard .line-llxZq0 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2coverviewsmartapartmentcard .home-net-gui-guidelin-llxZq0 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup9 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup9 .web-index-title-reference-copy-2-mvXsqV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .group-mvXsqV {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .empty-2xKux8 {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup9 .line-copy-2xKux8 {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup9 .empty-xFbZAq {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup9 .web-index-title-reference-copy-mvXsqV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .group-copy-mvXsqV {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .empty-wYqwx9 {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup9 .line-copy-wYqwx9 {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup9 .empty-GzWWZ3 {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup9 .web-index-title-reference-mvXsqV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .web-index-contents1dpeth_close-mvXsqV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .web-index-contents1dpeth_close-vAYIPz {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .web-index-contents1dpeth_close-w5LRow {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .web-index-contents1dpeth_close-copy-2-mvXsqV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .web-index-contents1dpeth_close-GybIdx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .web-index-contents1d-mvXsqV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .web-index-contents1dpeth_open_selected-mvXsqV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .web-index-contents1d-vAYIPz {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .web-index-contents1d-w5LRow {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .group-copy-2-mvXsqV {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .empty-VsRDY8 {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup9 .line-copy-VsRDY8 {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup9 .empty-AMaxYF {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup9 .web-index-title-reference-copy-3-mvXsqV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.c2coverviewsmartapartmentcard .webgnb-jxqCcu {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2coverviewsmartapartmentcard .background-TFjNAM {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2coverviewsmartapartmentcard .index-TFjNAM {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 64px;
  justify-content: flex-start;
  left: 420px;
  min-width: 123px;
  position: absolute;
  top: 0px;
  width: auto;
}

.c2coverviewsmartapartmentcard .web-index-select-bsfLY6 {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 64px;
  position: relative;
  width: 32px;
}

.c2coverviewsmartapartmentcard .web-index-unselect-bsfLY6 {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 64px;
  margin-left: 60px;
  position: relative;
  width: 31px;
}

.c2coverviewsmartapartmentcard .web-index-unelect_main-TFjNAM {
  background-color: transparent;
  background-image: url(../img/c2cconnectedneedapp-logo-A96B53CA-63FE-489E-A008-E6BA7B3CC4BF@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}
