/* screen - c2crepopupcase */

.c2crepopupcase {
  align-items: flex-end;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  min-height: 3393px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2crepopupcase .overlap-group-xaeV4s {
  background-color: transparent;
  flex-shrink: 1;
  height: 1261px;
  position: relative;
  width: 1920px;
  z-index: 1;
}

.c2crepopupcase .flex-col-BloytE {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 320px;
  min-height: 977px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.c2crepopupcase .web-sub_-title-vvPq5X {
  background-color: transparent;
  flex-shrink: 1;
  height: 58px;
  position: relative;
  width: 1600px;
}

.c2crepopupcase .flex-row-vvPq5X {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 919px;
  justify-content: flex-start;
  margin-right: 20.0px;
  margin-top: 0px;
  min-width: 1420px;
  position: relative;
  width: auto;
}

.c2crepopupcase .group-5-Y4u3xs {
  background-color: transparent;
  flex-shrink: 1;
  height: 919px;
  position: relative;
  width: 690px;
}

.c2crepopupcase .group-container-Y4u3xs {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 50px;
  min-height: 380px;
  position: relative;
  width: 680px;
}

.c2crepopupcase .group-3-Oouy0Q {
  background-color: transparent;
  flex-shrink: 1;
  height: 93px;
  position: relative;
  width: 680px;
}

.c2crepopupcase .group-2-Oouy0Q {
  background-color: transparent;
  flex-shrink: 1;
  height: 187px;
  margin-top: 100px;
  position: relative;
  width: 680px;
}

.c2crepopupcase .lnb-service-feature-BloytE {
  background-color: var(--concrete);
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2crepopupcase .background-E5Bmzt {
  background-color: var(--concrete);
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2crepopupcase .line-E5Bmzt {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2crepopupcase .home-net-gui-guidelin-E5Bmzt {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup23 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup23 .web-index-title-reference-copy-2-HITWzo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup23 .group-HITWzo {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup23 .empty-vngADq {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup23 .line-copy-vngADq {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup23 .empty-0zM78R {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup23 .web-index-title-reference-copy-HITWzo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup23 .group-copy-HITWzo {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup23 .empty-b1kx1D {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup23 .line-copy-b1kx1D {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup23 .empty-2JPz5S {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup23 .web-index-title-reference-HITWzo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup23 .web-index-contents1dpeth_close-HITWzo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup23 .web-index-contents1dpeth_close-aC2b9G {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup23 .web-index-contents1dpeth_close-EMTd7k {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup23 .web-index-contents1dpeth_close-copy-2-HITWzo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup23 .web-index-contents1dpeth_close-fFx3fV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup23 .web-index-contents1d-HITWzo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup23 .web-index-contents1dpeth_open_selected-HITWzo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup23 .web-index-contents1d-aC2b9G {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup23 .web-index-contents1d-EMTd7k {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup23 .group-copy-2-HITWzo {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup23 .empty-ODAnxf {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup23 .line-copy-ODAnxf {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup23 .empty-xvgWhc {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup23 .web-index-title-reference-copy-3-HITWzo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.c2crepopupcase .webgnb-BloytE {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2crepopupcase .background-Wrjaux {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2crepopupcase .index-Wrjaux {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 64px;
  justify-content: flex-start;
  left: 420px;
  min-width: 123px;
  position: absolute;
  top: 0px;
  width: auto;
}

.c2crepopupcase .web-index-select-ByHOJu {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 64px;
  position: relative;
  width: 32px;
}

.c2crepopupcase .web-index-unselect-ByHOJu {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 64px;
  margin-left: 60px;
  position: relative;
  width: 31px;
}

.c2crepopupcase .web-index-unelect_main-Wrjaux {
  background-color: transparent;
  background-image: url(../img/c2cconnectedneedapp-logo-A96B53CA-63FE-489E-A008-E6BA7B3CC4BF@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.c2crepopupcase .web-title-area-xaeV4s {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
  z-index: 4;
}

.c2crepopupcase .web-tabc2-c_re_popup-xaeV4s {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
  z-index: 5;
}

.c2crepopupcase .tab-wr20qh {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.c2crepopupcase .waiting-in-iefXDK {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 255px;
}

.c2crepopupcase .image-iefXDK {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 64px;
}

.c2crepopupcase .group-6-xaeV4s {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 866px;
  margin-right: 720.0px;
  margin-top: 100px;
  position: relative;
  width: 360px;
  z-index: 2;
}

.c2crepopupcase .group-7-xaeV4s {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 866px;
  margin-right: 720.0px;
  margin-top: 100px;
  position: relative;
  width: 360px;
  z-index: 3;
}
