/* screen - coreappdesignprinciplebackgoundimage */

.coreappdesignprinciplebackgoundimage {
  background-color: var(--white);
  height: 2824px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.coreappdesignprinciplebackgoundimage .flex-col-3XcRiB {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 320px;
  min-height: 2560px;
  position: absolute;
  top: 64px;
  width: 1600px;
}

.coreappdesignprinciplebackgoundimage .flex-row-7eiYcl {
  align-items: flex-end;
  background-color: transparent;
  background-image: url(../img/coreappdesignprinciple-webtitle-area-4991B60E-33C4-48DE-BE20-01DFCE044D04@2x.png);
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 170px;
  justify-content: flex-start;
  min-width: 1600px;
  position: relative;
  width: auto;
}

.coreappdesignprinciplebackgoundimage .web-tabc2-c_re_popup-IHW67H {
  background-color: transparent;
  flex-shrink: 1;
  height: 47px;
  position: relative;
  width: 1600px;
}

.coreappdesignprinciplebackgoundimage .tab-NrbGLY {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.coreappdesignprinciplebackgoundimage .design-principle-NtVjy0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 94px;
}

.coreappdesignprinciplebackgoundimage .title-copy-NtVjy0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 26px;
}

.coreappdesignprinciplebackgoundimage .contents-NtVjy0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 54px;
}

.coreappdesignprinciplebackgoundimage .logo-NtVjy0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 30px;
}

.coreappdesignprinciplebackgoundimage .background-image-NtVjy0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 116px;
}

.coreappdesignprinciplebackgoundimage .pattern-NtVjy0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 44px;
}

.coreappdesignprinciplebackgoundimage .web-sub_-title-7eiYcl {
  background-color: transparent;
  flex-shrink: 1;
  height: 58px;
  margin-top: 50px;
  position: relative;
  width: 1600px;
}

.coreappdesignprinciplebackgoundimage .group-4-7eiYcl {
  background-color: transparent;
  flex-shrink: 1;
  height: 2282px;
  margin-top: 0px;
  position: relative;
  width: 1400px;
}

.coreappdesignprinciplebackgoundimage .lnb-service-feature-3XcRiB {
  background-color: var(--concrete);
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreappdesignprinciplebackgoundimage .background-eGbEQP {
  background-color: var(--concrete);
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreappdesignprinciplebackgoundimage .line-eGbEQP {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.coreappdesignprinciplebackgoundimage .home-net-gui-guidelin-eGbEQP {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup45 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup45 .web-index-title-reference-copy-2-lbUP9J {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup45 .group-lbUP9J {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup45 .empty-AxGjU2 {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup45 .line-copy-AxGjU2 {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup45 .empty-KwCCfP {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup45 .web-index-title-reference-copy-lbUP9J {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup45 .group-copy-lbUP9J {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup45 .empty-s88oCi {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup45 .line-copy-s88oCi {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup45 .empty-yAwsgf {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup45 .web-index-title-reference-lbUP9J {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup45 .web-index-contents1dpeth_close-lbUP9J {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup45 .web-index-contents1dpeth_close-Hxb7BW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup45 .web-index-contents1dpeth_close-WXxoQP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup45 .web-index-contents1dpeth_close-copy-2-lbUP9J {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup45 .web-index-contents1dpeth_close-CkREd7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup45 .web-index-contents1d-lbUP9J {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup45 .web-index-contents1dpeth_open_selected-lbUP9J {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup45 .web-index-contents1d-Hxb7BW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup45 .web-index-contents1d-WXxoQP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup45 .group-copy-2-lbUP9J {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup45 .empty-6RIuMb {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup45 .line-copy-6RIuMb {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup45 .empty-uzFHXd {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup45 .web-index-title-reference-copy-3-lbUP9J {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.coreappdesignprinciplebackgoundimage .webgnb-3XcRiB {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreappdesignprinciplebackgoundimage .background-Csvpxw {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreappdesignprinciplebackgoundimage .index-Csvpxw {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 64px;
  justify-content: flex-start;
  left: 420px;
  min-width: 123px;
  position: absolute;
  top: 0px;
  width: auto;
}

.coreappdesignprinciplebackgoundimage .web-index-select-AUh4Ke {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 64px;
  position: relative;
  width: 32px;
}

.coreappdesignprinciplebackgoundimage .web-index-unselect-AUh4Ke {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 64px;
  margin-left: 60px;
  position: relative;
  width: 31px;
}

.coreappdesignprinciplebackgoundimage .web-index-unelect_main-Csvpxw {
  background-color: transparent;
  background-image: url(../img/c2cconnectedneedapp-logo-A96B53CA-63FE-489E-A008-E6BA7B3CC4BF@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}
