/* screen - coreapplifetabservicecardbasictype */

.coreapplifetabservicecardbasictype {
  align-items: flex-end;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  min-height: 3026px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.coreapplifetabservicecardbasictype .overlap-group-MIr5cQ {
  background-color: transparent;
  flex-shrink: 1;
  height: 1226px;
  position: relative;
  width: 1920px;
  z-index: 1;
}

.coreapplifetabservicecardbasictype .group-z8zig0 {
  background-color: transparent;
  height: 888px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.coreapplifetabservicecardbasictype .lnb-service-feature-z8zig0 {
  background-color: var(--concrete);
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreapplifetabservicecardbasictype .background-odaJKX {
  background-color: var(--concrete);
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreapplifetabservicecardbasictype .line-odaJKX {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.coreapplifetabservicecardbasictype .home-net-gui-guidelin-odaJKX {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup36 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup36 .web-index-title-reference-copy-2-Z6FS1m {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup36 .group-Z6FS1m {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup36 .empty-004NOb {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup36 .line-copy-004NOb {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup36 .empty-9tgrXm {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup36 .web-index-title-reference-copy-Z6FS1m {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup36 .group-copy-Z6FS1m {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup36 .empty-Fn1CLq {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup36 .line-copy-Fn1CLq {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup36 .empty-KSCW6K {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup36 .web-index-title-reference-Z6FS1m {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup36 .web-index-contents1dpeth_close-Z6FS1m {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup36 .web-index-contents1dpeth_close-44QKqr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup36 .web-index-contents1dpeth_close-tWJJaU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup36 .web-index-contents1dpeth_close-copy-2-Z6FS1m {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup36 .web-index-contents1dpeth_close-Lf0if4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup36 .web-index-contents1d-Z6FS1m {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup36 .web-index-contents1dpeth_open_selected-Z6FS1m {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup36 .web-index-contents1d-44QKqr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup36 .web-index-contents1d-tWJJaU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup36 .group-copy-2-Z6FS1m {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup36 .empty-jAIN97 {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup36 .line-copy-jAIN97 {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup36 .empty-dxxqeB {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup36 .web-index-title-reference-copy-3-Z6FS1m {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.coreapplifetabservicecardbasictype .webgnb-z8zig0 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicecardbasictype .background-irxugK {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicecardbasictype .index-irxugK {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 64px;
  justify-content: flex-start;
  left: 420px;
  min-width: 123px;
  position: absolute;
  top: 0px;
  width: auto;
}

.coreapplifetabservicecardbasictype .web-index-select-G3pBkA {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 64px;
  position: relative;
  width: 32px;
}

.coreapplifetabservicecardbasictype .web-index-unselect-G3pBkA {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 64px;
  margin-left: 60px;
  position: relative;
  width: 31px;
}

.coreapplifetabservicecardbasictype .web-index-unelect_main-irxugK {
  background-color: transparent;
  background-image: url(../img/c2cconnectedneedapp-logo-A96B53CA-63FE-489E-A008-E6BA7B3CC4BF@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.coreapplifetabservicecardbasictype .web-title-area-MIr5cQ {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
  z-index: 4;
}

.coreapplifetabservicecardbasictype .web-tabc2-c_re_popup-MIr5cQ {
  background-color: var(--white);
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
  z-index: 5;
}

.coreapplifetabservicecardbasictype .background-eQv2WL {
  background-color: var(--white);
  height: 100px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreapplifetabservicecardbasictype .x3rd-depth-eQv2WL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreapplifetabservicecardbasictype .tab-PsOxAo {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.coreapplifetabservicecardbasictype .layout-UY2Y0y {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 42px;
}

.coreapplifetabservicecardbasictype .life-tab-UY2Y0y {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.coreapplifetabservicecardbasictype .service-card-health-UY2Y0y {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 112px;
}

.coreapplifetabservicecardbasictype .basic-_-title-UY2Y0y {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicecardbasictype .basic-_-page-indicat-UY2Y0y {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.coreapplifetabservicecardbasictype .basic-_-bg-copy-UY2Y0y {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 65px;
}

.coreapplifetabservicecardbasictype .basic-_-primary-colo-UY2Y0y {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 132px;
}

.coreapplifetabservicecardbasictype .x3rd-depth-copy-eQv2WL {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.coreapplifetabservicecardbasictype .tab-myDjOM {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.coreapplifetabservicecardbasictype .basic-type-SfOuxm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 64px;
}

.coreapplifetabservicecardbasictype .quick-link-type-copy-SfOuxm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.coreapplifetabservicecardbasictype .quick-link-type-_-se-SfOuxm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 265px;
}

.coreapplifetabservicecardbasictype .quick-link-type-_-ic-SfOuxm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}

.coreapplifetabservicecardbasictype .banner-type-SfOuxm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicecardbasictype .broken-token-SfOuxm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 83px;
}

.coreapplifetabservicecardbasictype .group-container-MIr5cQ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 615px;
  justify-content: flex-start;
  margin-right: 100px;
  margin-top: 150px;
  min-width: 1440px;
  position: relative;
  width: auto;
  z-index: 2;
}

.coreapplifetabservicecardbasictype .group-2-HgZEAj {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 585px;
  position: relative;
  width: 710px;
}

.coreapplifetabservicecardbasictype .group-5-HgZEAj {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 50px;
  min-height: 467px;
  position: relative;
  width: 680px;
}

.coreapplifetabservicecardbasictype .contents-GHDksA {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  margin-right: 2px;
  opacity: 0.8;
  position: relative;
  width: 528px;
}

.coreapplifetabservicecardbasictype .table-guide-title-GHDksA {
  background-color: transparent;
  flex-shrink: 1;
  height: 56px;
  margin-top: 10px;
  position: relative;
  width: 680px;
}

.coreapplifetabservicecardbasictype .group-4-copy-GHDksA {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 84px;
  justify-content: flex-start;
  margin-top: 0px;
  min-width: 680px;
  position: relative;
  width: auto;
}

.coreapplifetabservicecardbasictype .table-guide-text1line-af9TyG {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  position: relative;
  width: 50px;
}

.coreapplifetabservicecardbasictype .table-guide-text1line_mint-af9TyG {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 340px;
}

.coreapplifetabservicecardbasictype .table-guide-text1line-CRxHNP {
  background-color: transparent;
  flex-shrink: 1;
  height: 84px;
  margin-left: 10px;
  position: relative;
  width: 270px;
}

.coreapplifetabservicecardbasictype .group-4-copy-2-GHDksA {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 37px;
  justify-content: flex-start;
  margin-top: 10px;
  min-width: 680px;
  position: relative;
  width: auto;
}

.coreapplifetabservicecardbasictype .table-guide-text1line-AonBOb {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  position: relative;
  width: 50px;
}

.coreapplifetabservicecardbasictype .table-guide-text1line_mint-AonBOb {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 340px;
}

.coreapplifetabservicecardbasictype .table-guide-text1line-xOsuU3 {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 270px;
}

.coreapplifetabservicecardbasictype .group-4-copy-3-GHDksA {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 57px;
  justify-content: flex-start;
  margin-top: 10px;
  min-width: 680px;
  position: relative;
  width: auto;
}

.coreapplifetabservicecardbasictype .table-guide-text1line-XxGxP7 {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  position: relative;
  width: 50px;
}

.coreapplifetabservicecardbasictype .table-guide-text1line_mint-XxGxP7 {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 57px;
  margin-left: 10px;
  position: relative;
  width: 340px;
}

.coreapplifetabservicecardbasictype .table-guide-text1line-TXncew {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 270px;
}

.coreapplifetabservicecardbasictype .group-4-copy-4-GHDksA {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 57px;
  justify-content: flex-start;
  margin-top: 10px;
  min-width: 680px;
  position: relative;
  width: auto;
}

.coreapplifetabservicecardbasictype .table-guide-text1line-Jdv4lo {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  position: relative;
  width: 50px;
}

.coreapplifetabservicecardbasictype .table-guide-text1line_mint-Jdv4lo {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 57px;
  margin-left: 10px;
  position: relative;
  width: 340px;
}

.coreapplifetabservicecardbasictype .table-guide-text1line-7PA9JR {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 270px;
}

.coreapplifetabservicecardbasictype .group-4-copy-5-GHDksA {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 10px;
  min-height: 106px;
  position: relative;
  width: 680px;
}

.coreapplifetabservicecardbasictype .tableguidetextline-container-LESo77 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 79px;
  justify-content: flex-start;
  min-width: 680px;
  position: relative;
  width: auto;
}

.coreapplifetabservicecardbasictype .table-guide-text1line-sdiZA1 {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  position: relative;
  width: 50px;
}

.coreapplifetabservicecardbasictype .table-guide-text1line_mint-sdiZA1 {
  background-color: transparent;
  flex-shrink: 1;
  height: 79px;
  margin-left: 10px;
  position: relative;
  width: 340px;
}

.coreapplifetabservicecardbasictype .table-guide-text1line-xuLL4J {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 270px;
}

.coreapplifetabservicecardbasictype .contents-LESo77 {
  background-color: transparent;
  color: #ff5656;
  flex-shrink: 1;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 17px;
  margin-left: 66px;
  margin-top: 10px;
  min-width: 334px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 334px;
}

.coreapplifetabservicecardbasictype .group-3-MIr5cQ {
  background-color: transparent;
  flex-shrink: 1;
  height: 712px;
  margin-right: 100px;
  margin-top: 150px;
  position: relative;
  width: 1440px;
  z-index: 3;
}
