/* screen - coreapplifetabservicecardbannertype */

.coreapplifetabservicecardbannertype {
  align-items: flex-end;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  min-height: 1773px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.coreapplifetabservicecardbannertype .overlap-group-BlCaid {
  background-color: transparent;
  flex-shrink: 1;
  height: 891px;
  position: relative;
  width: 1920px;
  z-index: 2;
}

.coreapplifetabservicecardbannertype .flex-col-5jqbdn {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 320px;
  min-height: 538px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.coreapplifetabservicecardbannertype .web-sub_-title-9prT50 {
  background-color: transparent;
  flex-shrink: 1;
  height: 58px;
  position: relative;
  width: 1600px;
}

.coreapplifetabservicecardbannertype .group-container-9prT50 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 480px;
  justify-content: flex-start;
  margin-right: 40.0px;
  margin-top: 0px;
  min-width: 1440px;
  position: relative;
  width: auto;
}

.coreapplifetabservicecardbannertype .group-4-FoonEr {
  background-color: transparent;
  flex-shrink: 1;
  height: 480px;
  position: relative;
  width: 710px;
}

.coreapplifetabservicecardbannertype .group-5-FoonEr {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 50px;
  min-height: 390px;
  position: relative;
  width: 680px;
}

.coreapplifetabservicecardbannertype .table-guide-title-GFqRTY {
  background-color: transparent;
  flex-shrink: 1;
  height: 56px;
  position: relative;
  width: 680px;
}

.coreapplifetabservicecardbannertype .group-4-copy-GFqRTY {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 84px;
  justify-content: flex-start;
  margin-top: 0px;
  min-width: 680px;
  position: relative;
  width: auto;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-ACKwPe {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  position: relative;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-ACKwPe {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 340px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-BlsIdu {
  background-color: transparent;
  flex-shrink: 1;
  height: 84px;
  margin-left: 10px;
  position: relative;
  width: 270px;
}

.coreapplifetabservicecardbannertype .group-4-copy-3-GFqRTY {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 37px;
  justify-content: flex-start;
  margin-top: 10px;
  min-width: 680px;
  position: relative;
  width: auto;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-aKoxRj {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  position: relative;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-aKoxRj {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 340px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-B3gkbE {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 270px;
}

.coreapplifetabservicecardbannertype .group-4-copy-5-GFqRTY {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 57px;
  justify-content: flex-start;
  margin-top: 10px;
  min-width: 680px;
  position: relative;
  width: auto;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-tt1snH {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  position: relative;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-tt1snH {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 57px;
  margin-left: 10px;
  position: relative;
  width: 340px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-qxtXpj {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 270px;
}

.coreapplifetabservicecardbannertype .group-4-copy-4-GFqRTY {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 59px;
  justify-content: flex-start;
  margin-top: 10px;
  min-width: 680px;
  position: relative;
  width: auto;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-UJRrxv {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  position: relative;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-UJRrxv {
  background-color: transparent;
  flex-shrink: 1;
  height: 59px;
  margin-left: 10px;
  position: relative;
  width: 340px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-A9Aofx {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 270px;
}

.coreapplifetabservicecardbannertype .group-4-copy-6-GFqRTY {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 57px;
  justify-content: flex-start;
  margin-top: 10px;
  min-width: 680px;
  position: relative;
  width: auto;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-XcmMNU {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  position: relative;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-XcmMNU {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 57px;
  margin-left: 10px;
  position: relative;
  width: 340px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-IEFLEa {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 270px;
}

.coreapplifetabservicecardbannertype .lnb-service-feature-5jqbdn {
  background-color: var(--concrete);
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreapplifetabservicecardbannertype .background-sv6aAR {
  background-color: var(--concrete);
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreapplifetabservicecardbannertype .line-sv6aAR {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.coreapplifetabservicecardbannertype .home-net-gui-guidelin-sv6aAR {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup40 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup40 .web-index-title-reference-copy-2-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .group-jyXXSI {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .empty-prOtce {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup40 .line-copy-prOtce {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup40 .empty-2WN23f {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup40 .web-index-title-reference-copy-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .group-copy-jyXXSI {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .empty-SRxd8I {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup40 .line-copy-SRxd8I {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup40 .empty-2Ax9C8 {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup40 .web-index-title-reference-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents1dpeth_close-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents1dpeth_close-hEQvx9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents1dpeth_close-wanAnc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents1dpeth_close-copy-2-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents1dpeth_close-FUO4XB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents1d-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents1dpeth_open_selected-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents1d-hEQvx9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents1d-wanAnc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .group-copy-2-jyXXSI {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .empty-Sem1mb {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup40 .line-copy-Sem1mb {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup40 .empty-4ipchw {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup40 .web-index-title-reference-copy-3-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.coreapplifetabservicecardbannertype .webgnb-5jqbdn {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicecardbannertype .background-1mypdE {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicecardbannertype .index-1mypdE {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 64px;
  justify-content: flex-start;
  left: 420px;
  min-width: 123px;
  position: absolute;
  top: 0px;
  width: auto;
}

.coreapplifetabservicecardbannertype .web-index-select-wO14ud {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 64px;
  position: relative;
  width: 32px;
}

.coreapplifetabservicecardbannertype .web-index-unselect-wO14ud {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 64px;
  margin-left: 60px;
  position: relative;
  width: 31px;
}

.coreapplifetabservicecardbannertype .web-index-unelect_main-1mypdE {
  background-color: transparent;
  background-image: url(../img/c2cconnectedneedapp-logo-A96B53CA-63FE-489E-A008-E6BA7B3CC4BF@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.coreapplifetabservicecardbannertype .web-title-area-BlCaid {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
  z-index: 4;
}

.coreapplifetabservicecardbannertype .web-tabc2-c_re_popup-BlCaid {
  background-color: var(--white);
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
  z-index: 5;
}

.coreapplifetabservicecardbannertype .background-QweNgF {
  background-color: var(--white);
  height: 100px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreapplifetabservicecardbannertype .x3rd-depth-QweNgF {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreapplifetabservicecardbannertype .tab-mgFmWF {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.coreapplifetabservicecardbannertype .layout-T6mZ7e {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 42px;
}

.coreapplifetabservicecardbannertype .life-tab-T6mZ7e {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.coreapplifetabservicecardbannertype .service-card-health-T6mZ7e {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 112px;
}

.coreapplifetabservicecardbannertype .basic-_-title-T6mZ7e {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicecardbannertype .basic-_-page-indicat-T6mZ7e {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.coreapplifetabservicecardbannertype .basic-_-bg-copy-T6mZ7e {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 65px;
}

.coreapplifetabservicecardbannertype .basic-_-primary-colo-T6mZ7e {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 132px;
}

.coreapplifetabservicecardbannertype .x3rd-depth-copy-QweNgF {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.coreapplifetabservicecardbannertype .tab-eYXBnR {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.coreapplifetabservicecardbannertype .basic-type-4FkRBd {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 63px;
}

.coreapplifetabservicecardbannertype .quick-link-type-copy-4FkRBd {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.coreapplifetabservicecardbannertype .quick-link-type-_-se-4FkRBd {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 265px;
}

.coreapplifetabservicecardbannertype .quick-link-type-_-ic-4FkRBd {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}

.coreapplifetabservicecardbannertype .banner-type-4FkRBd {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicecardbannertype .broken-token-4FkRBd {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 83px;
}

.coreapplifetabservicecardbannertype .group-container-BlCaid {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 474px;
  justify-content: flex-start;
  margin-right: 100px;
  margin-top: 99px;
  min-width: 1455px;
  position: relative;
  width: auto;
  z-index: 1;
}

.coreapplifetabservicecardbannertype .group-6-8PVRx9 {
  background-color: transparent;
  flex-shrink: 1;
  height: 474px;
  position: relative;
  width: 725px;
}

.coreapplifetabservicecardbannertype .group-5-copy-8PVRx9 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 50px;
  min-height: 390px;
  position: relative;
  width: 680px;
}

.coreapplifetabservicecardbannertype .table-guide-title-xeuxxJ {
  background-color: transparent;
  flex-shrink: 1;
  height: 56px;
  position: relative;
  width: 680px;
}

.coreapplifetabservicecardbannertype .group-4-copy-xeuxxJ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 84px;
  justify-content: flex-start;
  margin-top: 0px;
  min-width: 680px;
  position: relative;
  width: auto;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-rTZr91 {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  position: relative;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-rTZr91 {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 340px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-9PPSlx {
  background-color: transparent;
  flex-shrink: 1;
  height: 84px;
  margin-left: 10px;
  position: relative;
  width: 270px;
}

.coreapplifetabservicecardbannertype .group-4-copy-3-xeuxxJ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 37px;
  justify-content: flex-start;
  margin-top: 10px;
  min-width: 680px;
  position: relative;
  width: auto;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-mUUSy1 {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  position: relative;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-mUUSy1 {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 340px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-5hPSRx {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 270px;
}

.coreapplifetabservicecardbannertype .group-4-copy-5-xeuxxJ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 57px;
  justify-content: flex-start;
  margin-top: 10px;
  min-width: 680px;
  position: relative;
  width: auto;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-IKEpaH {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  position: relative;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-IKEpaH {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 57px;
  margin-left: 10px;
  position: relative;
  width: 340px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-VJyHx5 {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 270px;
}

.coreapplifetabservicecardbannertype .group-4-copy-4-xeuxxJ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 59px;
  justify-content: flex-start;
  margin-top: 10px;
  min-width: 680px;
  position: relative;
  width: auto;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-ZFc9U2 {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  position: relative;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-ZFc9U2 {
  background-color: transparent;
  flex-shrink: 1;
  height: 59px;
  margin-left: 10px;
  position: relative;
  width: 340px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-eG7Azo {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 270px;
}

.coreapplifetabservicecardbannertype .group-4-copy-6-xeuxxJ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 57px;
  justify-content: flex-start;
  margin-top: 10px;
  min-width: 680px;
  position: relative;
  width: auto;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-dzCLtg {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  position: relative;
  width: 50px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line_mint-dzCLtg {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 57px;
  margin-left: 10px;
  position: relative;
  width: 340px;
}

.coreapplifetabservicecardbannertype .table-guide-text1line-fhNKYI {
  background-color: transparent;
  flex-shrink: 1;
  height: 37px;
  margin-left: 10px;
  position: relative;
  width: 270px;
}

.coreapplifetabservicecardbannertype .group-3-copy-2-BlCaid {
  background-color: transparent;
  flex-shrink: 1;
  height: 93px;
  margin-right: 100px;
  margin-top: 16px;
  position: relative;
  width: 680px;
  z-index: 3;
}
