/* screen - coreapplifetabservicecardbasicbg */

.coreapplifetabservicecardbasicbg {
  background-color: var(--white);
  height: 1996px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.coreapplifetabservicecardbasicbg .flex-col-y9QGgO {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 320px;
  min-height: 1732px;
  position: absolute;
  top: 64px;
  width: 1600px;
}

.coreapplifetabservicecardbasicbg .flex-row-rJrsyO {
  align-items: flex-end;
  background-color: transparent;
  background-image: url(../img/coreapplifetablayout-webtitle-area-00BECEBB-9DB7-4355-B9DA-3A82072C23F9@2x.png);
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 224px;
  justify-content: flex-start;
  min-width: 1600px;
  position: relative;
  width: auto;
}

.coreapplifetabservicecardbasicbg .web-tabc2-c_re_popup-2RVt5Z {
  background-color: var(--white);
  flex-shrink: 1;
  height: 100px;
  position: relative;
  width: 1600px;
}

.coreapplifetabservicecardbasicbg .background-AcvhKx {
  background-color: var(--white);
  height: 100px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreapplifetabservicecardbasicbg .x3rd-depth-AcvhKx {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreapplifetabservicecardbasicbg .tab-fSOobq {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.coreapplifetabservicecardbasicbg .layout-J0jlTx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 42px;
}

.coreapplifetabservicecardbasicbg .life-tab-J0jlTx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.coreapplifetabservicecardbasicbg .service-card-health-J0jlTx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 112px;
}

.coreapplifetabservicecardbasicbg .basic-_-title-J0jlTx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicecardbasicbg .basic-_-page-indicat-J0jlTx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.coreapplifetabservicecardbasicbg .basic-_-bg-copy-J0jlTx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 65px;
}

.coreapplifetabservicecardbasicbg .basic-_-primary-colo-J0jlTx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 132px;
}

.coreapplifetabservicecardbasicbg .x3rd-depth-copy-AcvhKx {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.coreapplifetabservicecardbasicbg .tab-P0lXCB {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.coreapplifetabservicecardbasicbg .basic-type-aiTj02 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 63px;
}

.coreapplifetabservicecardbasicbg .quick-link-type-copy-aiTj02 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.coreapplifetabservicecardbasicbg .quick-link-type-_-se-aiTj02 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 265px;
}

.coreapplifetabservicecardbasicbg .quick-link-type-_-ic-aiTj02 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}

.coreapplifetabservicecardbasicbg .banner-type-aiTj02 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicecardbasicbg .broken-token-aiTj02 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 83px;
}

.coreapplifetabservicecardbasicbg .group-rJrsyO {
  background-color: transparent;
  flex-shrink: 1;
  height: 1458px;
  margin-top: 50px;
  position: relative;
  width: 1600px;
}

.coreapplifetabservicecardbasicbg .lnb-service-feature-y9QGgO {
  background-color: var(--concrete);
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreapplifetabservicecardbasicbg .background-nwBBlk {
  background-color: var(--concrete);
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreapplifetabservicecardbasicbg .line-nwBBlk {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.coreapplifetabservicecardbasicbg .home-net-gui-guidelin-nwBBlk {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup34 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup34 .web-index-title-reference-copy-2-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .group-idzRII {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .empty-U4gBT5 {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup34 .line-copy-U4gBT5 {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup34 .empty-dt2x6L {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup34 .web-index-title-reference-copy-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .group-copy-idzRII {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .empty-yVq7O2 {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup34 .line-copy-yVq7O2 {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup34 .empty-YzdtEY {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup34 .web-index-title-reference-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents1dpeth_close-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents1dpeth_close-5qCqD8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents1dpeth_close-sGGjeq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents1dpeth_close-copy-2-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents1dpeth_close-6vo2cq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents1d-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents1dpeth_open_selected-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents1d-5qCqD8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .web-index-contents1d-sGGjeq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .group-copy-2-idzRII {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup34 .empty-wVq91p {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup34 .line-copy-wVq91p {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup34 .empty-4ykfm3 {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup34 .web-index-title-reference-copy-3-idzRII {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.coreapplifetabservicecardbasicbg .webgnb-y9QGgO {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicecardbasicbg .background-3QLe4A {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicecardbasicbg .index-3QLe4A {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 64px;
  justify-content: flex-start;
  left: 420px;
  min-width: 123px;
  position: absolute;
  top: 0px;
  width: auto;
}

.coreapplifetabservicecardbasicbg .web-index-select-hZxE3Z {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 64px;
  position: relative;
  width: 32px;
}

.coreapplifetabservicecardbasicbg .web-index-unselect-hZxE3Z {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 64px;
  margin-left: 60px;
  position: relative;
  width: 31px;
}

.coreapplifetabservicecardbasicbg .web-index-unelect_main-3QLe4A {
  background-color: transparent;
  background-image: url(../img/c2cconnectedneedapp-logo-A96B53CA-63FE-489E-A008-E6BA7B3CC4BF@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}
