/* screen - coreapplifetabservicecardbasictitle */

.coreapplifetabservicecardbasictitle {
  background-color: var(--white);
  height: 1861px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.coreapplifetabservicecardbasictitle .flex-col-eh7llx {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 320px;
  min-height: 1597px;
  position: absolute;
  top: 64px;
  width: 1600px;
}

.coreapplifetabservicecardbasictitle .flex-row-GRhxwf {
  align-items: flex-end;
  background-color: transparent;
  background-image: url(../img/coreapplifetablayout-webtitle-area-00BECEBB-9DB7-4355-B9DA-3A82072C23F9@2x.png);
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 224px;
  justify-content: flex-start;
  min-width: 1600px;
  position: relative;
  width: auto;
}

.coreapplifetabservicecardbasictitle .web-tabc2-c_re_popup-fx7mmc {
  background-color: var(--white);
  flex-shrink: 1;
  height: 100px;
  position: relative;
  width: 1600px;
}

.coreapplifetabservicecardbasictitle .background-RA8ti3 {
  background-color: var(--white);
  height: 100px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreapplifetabservicecardbasictitle .x3rd-depth-RA8ti3 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreapplifetabservicecardbasictitle .tab-VWQxWx {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.coreapplifetabservicecardbasictitle .layout-MxjE7l {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 42px;
}

.coreapplifetabservicecardbasictitle .life-tab-MxjE7l {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.coreapplifetabservicecardbasictitle .service-card-health-MxjE7l {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 112px;
}

.coreapplifetabservicecardbasictitle .basic-_-title-MxjE7l {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicecardbasictitle .basic-_-page-indicat-MxjE7l {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.coreapplifetabservicecardbasictitle .basic-_-bg-copy-MxjE7l {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 65px;
}

.coreapplifetabservicecardbasictitle .basic-_-primary-colo-MxjE7l {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 132px;
}

.coreapplifetabservicecardbasictitle .x3rd-depth-copy-RA8ti3 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.coreapplifetabservicecardbasictitle .tab-6UZeof {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.coreapplifetabservicecardbasictitle .basic-type-3HWeSg {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 63px;
}

.coreapplifetabservicecardbasictitle .quick-link-type-copy-3HWeSg {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.coreapplifetabservicecardbasictitle .quick-link-type-_-se-3HWeSg {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 265px;
}

.coreapplifetabservicecardbasictitle .quick-link-type-_-ic-3HWeSg {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}

.coreapplifetabservicecardbasictitle .banner-type-3HWeSg {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicecardbasictitle .broken-token-3HWeSg {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 83px;
}

.coreapplifetabservicecardbasictitle .group-7-GRhxwf {
  background-color: transparent;
  flex-shrink: 1;
  height: 1323px;
  margin-top: 50px;
  position: relative;
  width: 1600px;
}

.coreapplifetabservicecardbasictitle .lnb-service-feature-eh7llx {
  background-color: var(--concrete);
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreapplifetabservicecardbasictitle .background-0VYMIG {
  background-color: var(--concrete);
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreapplifetabservicecardbasictitle .line-0VYMIG {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.coreapplifetabservicecardbasictitle .home-net-gui-guidelin-0VYMIG {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup32 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup32 .web-index-title-reference-copy-2-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .group-ccl8pA {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .empty-RJlUSA {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup32 .line-copy-RJlUSA {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup32 .empty-QQygoB {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup32 .web-index-title-reference-copy-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .group-copy-ccl8pA {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .empty-DLve8I {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup32 .line-copy-DLve8I {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup32 .empty-quBk7B {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup32 .web-index-title-reference-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents1dpeth_close-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents1dpeth_close-r52NPu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents1dpeth_close-j9jixb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents1dpeth_close-copy-2-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents1dpeth_close-X0PFGB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents1d-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents1dpeth_open_selected-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents1d-r52NPu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .web-index-contents1d-j9jixb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .group-copy-2-ccl8pA {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup32 .empty-vqJwlM {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup32 .line-copy-vqJwlM {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup32 .empty-Zkbb2e {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup32 .web-index-title-reference-copy-3-ccl8pA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.coreapplifetabservicecardbasictitle .webgnb-eh7llx {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicecardbasictitle .background-6Bngm6 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicecardbasictitle .index-6Bngm6 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 64px;
  justify-content: flex-start;
  left: 420px;
  min-width: 123px;
  position: absolute;
  top: 0px;
  width: auto;
}

.coreapplifetabservicecardbasictitle .web-index-select-NiRtMa {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 64px;
  position: relative;
  width: 32px;
}

.coreapplifetabservicecardbasictitle .web-index-unselect-NiRtMa {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: 64px;
  margin-left: 60px;
  position: relative;
  width: 31px;
}

.coreapplifetabservicecardbasictitle .web-index-unelect_main-6Bngm6 {
  background-color: transparent;
  background-image: url(../img/c2cconnectedneedapp-logo-A96B53CA-63FE-489E-A008-E6BA7B3CC4BF@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}
