/* screen - serviceplugintutorialheaderappbar */

.serviceplugintutorialheaderappbar {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.serviceplugintutorialheaderappbar .group-2 {
  background-color: transparent;
  height: 227px;
  left: 359px;
  position: absolute;
  top: 342px;
  width: 731px;
}

.serviceplugintutorialheaderappbar .group-5 {
  background-color: transparent;
  height: 165px;
  left: 1140px;
  position: absolute;
  top: 312px;
  width: 680px;
}

.serviceplugintutorialheaderappbar .group-6 {
  background-color: transparent;
  height: 116px;
  left: 1140px;
  position: absolute;
  top: 577px;
  width: 680px;
}

.serviceplugintutorialheaderappbar .web-sub_-title {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.serviceplugintutorialheaderappbar .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.serviceplugintutorialheaderappbar .web-tab-service-plug-in_-home-screen {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.serviceplugintutorialheaderappbar .key-screen {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 66px;
}

.serviceplugintutorialheaderappbar .bottom-buttons {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.serviceplugintutorialheaderappbar .rectangle-lnb-service-plug-in {
  background-color: var(--concrete);
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
