/* screen - servicepluginhomehelpguideexpandablelist */

.servicepluginhomehelpguideexpandablelist {
  background-color: var(--white);
  height: 2563px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomehelpguideexpandablelist .group-3 {
  background-color: transparent;
  height: 447px;
  left: 420px;
  position: absolute;
  top: 1126px;
  width: 670px;
}

.servicepluginhomehelpguideexpandablelist .group-16 {
  background-color: transparent;
  height: 690px;
  left: 412px;
  position: absolute;
  top: 1723px;
  width: 678px;
}

.servicepluginhomehelpguideexpandablelist .group-19 {
  background-color: transparent;
  height: 301px;
  left: 1140px;
  position: absolute;
  top: 1723px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .group-22 {
  background-color: transparent;
  height: 301px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .group-18 {
  background-color: transparent;
  height: 178px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .group-13 {
  background-color: transparent;
  height: 109px;
  left: 60px;
  position: absolute;
  top: 69px;
  width: 340px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-21 {
  background-color: transparent;
  height: 77px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-22 {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-23 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomehelpguideexpandablelist .group-11-copy {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 244px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-27 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-28 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-29 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomehelpguideexpandablelist .descriptiontabletop-copy-2 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .group-21 {
  background-color: transparent;
  height: 370px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .group-12 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-7 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomehelpguideexpandablelist .group-11 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-3 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-8 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-6 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomehelpguideexpandablelist .group-10 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-10 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-2 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-9 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomehelpguideexpandablelist .group-4 {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 217px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-11 {
  background-color: transparent;
  height: 86px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-4 {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-13 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomehelpguideexpandablelist .group-group-21 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 313px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-12 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-5 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-14 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomehelpguideexpandablelist .group-20 {
  background-color: transparent;
  height: 113px;
  left: 1140px;
  position: absolute;
  top: 1126px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .group-copy-group-20 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-15 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-16 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomehelpguideexpandablelist .table-guide-text1line-copy-17 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomehelpguideexpandablelist .group-6 {
  background-color: transparent;
  height: 120px;
  left: 1140px;
  position: absolute;
  top: 2124px;
  width: 680px;
}

.servicepluginhomehelpguideexpandablelist .group-23 {
  background-color: transparent;
  height: 581px;
  left: 400px;
  position: absolute;
  top: 396px;
  width: 690px;
}

.servicepluginhomehelpguideexpandablelist .web-sub_-title {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.servicepluginhomehelpguideexpandablelist .web-title-area {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomehelpguideexpandablelist .web-tab-service-plug-in_-home-screen {
  background-color: transparent;
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.servicepluginhomehelpguideexpandablelist .brand-type {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.servicepluginhomehelpguideexpandablelist .app-link-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 54px;
}

.servicepluginhomehelpguideexpandablelist .notifications-_-feat {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 144px;
}

.servicepluginhomehelpguideexpandablelist .help-guide-_-expanda {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 180px;
}

.servicepluginhomehelpguideexpandablelist .rectangle-lnb-service-plug-in {
  background-color: var(--concrete);
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomehelpguideexpandablelist .group-copy-stacked-group {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}
