/* screen - servicepluginhomeshortcutbrandtype */

.servicepluginhomeshortcutbrandtype {
  background-color: var(--white);
  height: 2364px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomeshortcutbrandtype .group-30-1 {
  background-color: transparent;
  height: 440px;
  left: 1140px;
  position: absolute;
  top: 1697px;
  width: 680px;
}

.servicepluginhomeshortcutbrandtype .group-31 {
  background-color: transparent;
  height: 440px;
  left: 400px;
  position: absolute;
  top: 1435px;
  width: 690px;
}

.servicepluginhomeshortcutbrandtype .group-25 {
  background-color: transparent;
  height: 462px;
  left: 400px;
  position: absolute;
  top: 396px;
  width: 690px;
}

.servicepluginhomeshortcutbrandtype .group-32 {
  background-color: transparent;
  height: 189px;
  left: 1140px;
  position: absolute;
  top: 1435px;
  width: 680px;
}

.servicepluginhomeshortcutbrandtype .group-5 {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text2line_b-copy-4 {
  background-color: transparent;
  height: 86px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text1line-copy-5 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text2line_m-copy-2 {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeshortcutbrandtype .group-4 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text2line_b-copy-3-group-4 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text2line_m-copy-group-4 {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeshortcutbrandtype .group-6 {
  background-color: transparent;
  height: 194px;
  left: 1140px;
  position: absolute;
  top: 1091px;
  width: 680px;
}

.servicepluginhomeshortcutbrandtype .group-30-2 {
  background-color: transparent;
  height: 595px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.servicepluginhomeshortcutbrandtype .group-9 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text1line-1 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text1line-2 {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeshortcutbrandtype .group-26 {
  background-color: transparent;
  height: 211px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text1line-copy {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text2line_b-copy-2 {
  background-color: transparent;
  height: 164px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text1line-copy-2 {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 174px;
  width: 340px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text2line_b-group-26 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 174px;
  width: 270px;
}

.servicepluginhomeshortcutbrandtype .group-27 {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 324px;
  width: 680px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text2line_m-group-27 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text2line_b-copy-group-27 {
  background-color: transparent;
  height: 86px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text1line-copy-3-group-27 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeshortcutbrandtype .group-28 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 420px;
  width: 680px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text2line_m-group-28 {
  background-color: transparent;
  height: 37px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text2line_b-copy-group-28 {
  background-color: transparent;
  height: 79px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text1line-copy-3-group-28 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeshortcutbrandtype .group-7 {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 509px;
  width: 680px;
}

.servicepluginhomeshortcutbrandtype .group-29 {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 680px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text2line_b-copy-3-group-29 {
  background-color: transparent;
  height: 86px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text1line-copy-4-group-29 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomeshortcutbrandtype .table-guide-text2line_m-copy-group-29 {
  background-color: transparent;
  cursor: pointer;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomeshortcutbrandtype .web-sub_-title {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.servicepluginhomeshortcutbrandtype .web-title-area {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomeshortcutbrandtype .web-tab-service-plug-in_-home-screen {
  background-color: transparent;
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.servicepluginhomeshortcutbrandtype .brand-type {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.servicepluginhomeshortcutbrandtype .app-link-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 54px;
}

.servicepluginhomeshortcutbrandtype .notifications-_-feat {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 144px;
}

.servicepluginhomeshortcutbrandtype .help-guide-_-expanda {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 179px;
}

.servicepluginhomeshortcutbrandtype .rectangle-lnb-service-plug-in {
  background-color: var(--concrete);
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
