/* screen - servicepluginhomedefaulttype */

.servicepluginhomedefaulttype {
  background-color: var(--white);
  height: 2150px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomedefaulttype .group-7 {
  background-color: transparent;
  height: 1554px;
  left: 400px;
  position: absolute;
  top: 396px;
  width: 690px;
}

.servicepluginhomedefaulttype .group-5 {
  background-color: transparent;
  height: 162px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.servicepluginhomedefaulttype .group-10 {
  background-color: transparent;
  height: 162px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 680px;
}

.servicepluginhomedefaulttype .group-6 {
  background-color: transparent;
  height: 106px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginhomedefaulttype .table-guide-text2line {
  background-color: transparent;
  cursor: pointer;
  height: 106px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginhomedefaulttype .table-guide-text1line-1 {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginhomedefaulttype .table-guide-text1line-2 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginhomedefaulttype .web-sub_-title {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 1600px;
}

.servicepluginhomedefaulttype .web-title-area {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomedefaulttype .web-tab-service-plug-in_-home-screen {
  background-color: transparent;
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.servicepluginhomedefaulttype .brand-type {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.servicepluginhomedefaulttype .app-link-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 54px;
}

.servicepluginhomedefaulttype .notifications-_-feat {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 144px;
}

.servicepluginhomedefaulttype .help-guide-_-expanda {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 179px;
}

.servicepluginhomedefaulttype .rectangle-lnb-service-plug-in {
  background-color: var(--concrete);
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
