/* screen - basiccomponentbuttongroupbutton */

.basiccomponentbuttongroupbutton {
  background-color: var(--white);
  height: 1458px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentbuttongroupbutton .group-tocDoy {
  background-color: transparent;
  height: 184px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.basiccomponentbuttongroupbutton .group-7-tocDoy {
  background-color: transparent;
  height: 544px;
  left: 419px;
  position: absolute;
  top: 715px;
  width: 1400px;
}

.basiccomponentbuttongroupbutton .group-9-tocDoy {
  background-color: transparent;
  height: 223px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.basiccomponentbuttongroupbutton .web-sub_-title-tocDoy {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentbuttongroupbutton .web-title-area-tocDoy {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentbuttongroupbutton .web-tab-basic-component_-button-tocDoy {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentbuttongroupbutton .x3rd-depth-L9hrxQ {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.basiccomponentbuttongroupbutton .tab-L9hrxQ {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponentbuttongroupbutton .button-XDYPsu {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 43px;
}

.basiccomponentbuttongroupbutton .toggle-button-XDYPsu {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 86px;
}

.basiccomponentbuttongroupbutton .x2-buttons-XDYPsu {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 60px;
}

.basiccomponentbuttongroupbutton .group-button-XDYPsu {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 86px;
}

.basiccomponentbuttongroupbutton .bottom-buttons-XDYPsu {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.basiccomponentbuttongroupbutton .lnb-basic-component-tocDoy {
  background-color: transparent;
  height: 1611px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .rectangle-HId6OH {
  background-color: var(--concrete);
  height: 1611px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .background-HId6OH {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .rectangle-49qG3v {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .line-HId6OH {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentbuttongroupbutton .home-net-ui-guideline-HId6OH {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.basiccomponentbuttongroupbutton .group-HId6OH {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1437px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .empty-tuTQYH {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .empty-BJA4PL {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .line-copy-tuTQYH {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentbuttongroupbutton .group-copy-HId6OH {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1524px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .empty-w8jOXo {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .empty-rxEcYM {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .line-copy-w8jOXo {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentbuttongroupbutton .group-49qG3v {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1166px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .empty-uEgwkF {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .empty-mUALQx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .line-copy-uEgwkF {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentbuttongroupbutton .web-index-contents1dpeth_close-HId6OH {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1391px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .web-index-contents1dpeth_close-49qG3v {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1345px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .web-index-contents1dpeth_close-KBMLM0 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1299px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .web-index-contents1dpeth_close-KC3OF7 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1253px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .web-index-title-reference-HId6OH {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1478px;
  width: 313px;
}

.basiccomponentbuttongroupbutton .web-index-title-reference-copy-HId6OH {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1565px;
  width: 313px;
}

.basiccomponentbuttongroupbutton .web-index-title-reference-49qG3v {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1207px;
  width: 313px;
}

.basiccomponentbuttongroupbutton .web-index-contents1dpeth_close-Pxo5O9 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1120px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .web-index-contents1dpeth_close-xGHc7x {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1074px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .web-index-contents1dpeth_close-ZCjd1A {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1028px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .web-index-contents2dpeth-HId6OH {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 982px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .web-index-contents2dpeth-49qG3v {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 936px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .web-index-contents2dpeth-KBMLM0 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 890px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .web-index-contents2dpeth-KC3OF7 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 844px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .web-index-contents2dpeth-Pxo5O9 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 798px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .web-index-contents2dpeth-xGHc7x {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 752px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .web-index-contents2dpeth-ZCjd1A {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 706px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .web-index-contents2dpeth-6d6yvw {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 614px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .web-index-contents2dpeth-mB6mIK {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 660px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .web-index-contents2dpeth-pzk3zc {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 568px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .web-index-contents2dpeth-zyxRn3 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 522px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .web-index-contents2dpeth-xa6fyN {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 476px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .web-index-contents2dpeth-7a9ikk {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 430px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .web-index-contents2dpeth-W9TjK7 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 384px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .web-index-contents2dpeth-mE5qxr {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 338px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .web-index-contents1dpeth_open_selected-HId6OH {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 292px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .web-index-contents1dpeth_close-6d6yvw {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .web-index-contents1dpeth_close-mB6mIK {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 200px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .web-index-title-common-HId6OH {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 154px;
  width: 320px;
}

.basiccomponentbuttongroupbutton .webgnb-tocDoy {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentbuttongroupbutton .rectangle-XnQW9q {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentbuttongroupbutton .background-XnQW9q {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentbuttongroupbutton .index-XnQW9q {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.basiccomponentbuttongroupbutton .web-index-select-iokNZX {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.basiccomponentbuttongroupbutton .web-index-unselect-iokNZX {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentbuttongroupbutton .web-index-unelect_main-XnQW9q {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.basiccomponentbuttongroupbutton .logo-xxZAkU {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}
