/* screen - basiccomponenttab */

.basiccomponenttab {
  background-color: var(--white);
  height: 3420px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponenttab .group-4-qrwlt9 {
  background-color: transparent;
  height: 433px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.basiccomponenttab .group-8-qrwlt9 {
  background-color: transparent;
  height: 550px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.basiccomponenttab .group-9-qrwlt9 {
  background-color: transparent;
  height: 548px;
  left: 414px;
  position: absolute;
  top: 1042px;
  width: 1406px;
}

.basiccomponenttab .group-11-qrwlt9 {
  background-color: transparent;
  height: 593px;
  left: 420px;
  position: absolute;
  top: 1740px;
  width: 1400px;
}

.basiccomponenttab .group-12-qrwlt9 {
  background-color: transparent;
  height: 737px;
  left: 420px;
  position: absolute;
  top: 2483px;
  width: 1400px;
}

.basiccomponenttab .web-sub_-title-qrwlt9 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponenttab .web-title-area-qrwlt9 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponenttab .lnb-basic-component-qrwlt9 {
  background-color: transparent;
  height: 1611px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponenttab .rectangle-sRzHfg {
  background-color: var(--concrete);
  height: 1611px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponenttab .background-sRzHfg {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponenttab .rectangle-72KC1l {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponenttab .line-sRzHfg {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponenttab .home-net-ui-guideline-sRzHfg {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.basiccomponenttab .group-sRzHfg {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1437px;
  width: 320px;
}

.basiccomponenttab .empty-3fd4mx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponenttab .empty-1tgxys {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponenttab .line-copy-3fd4mx {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponenttab .group-copy-sRzHfg {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1524px;
  width: 320px;
}

.basiccomponenttab .empty-E85Ei4 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponenttab .empty-YNiO2t {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponenttab .line-copy-E85Ei4 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponenttab .group-72KC1l {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1166px;
  width: 320px;
}

.basiccomponenttab .empty-Os1DAT {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponenttab .empty-sWfLfP {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponenttab .line-copy-Os1DAT {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponenttab .web-index-contents1dpeth_close-sRzHfg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1391px;
  width: 320px;
}

.basiccomponenttab .web-index-contents1dpeth_close-72KC1l {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1345px;
  width: 320px;
}

.basiccomponenttab .web-index-contents1dpeth_close-gxOYWY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1299px;
  width: 320px;
}

.basiccomponenttab .web-index-contents1dpeth_close-FkWUVm {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1253px;
  width: 320px;
}

.basiccomponenttab .web-index-title-reference-sRzHfg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1478px;
  width: 313px;
}

.basiccomponenttab .web-index-title-reference-copy-sRzHfg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1565px;
  width: 313px;
}

.basiccomponenttab .web-index-title-reference-72KC1l {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1207px;
  width: 313px;
}

.basiccomponenttab .web-index-contents1dpeth_close-CYaM90 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1120px;
  width: 320px;
}

.basiccomponenttab .web-index-contents1dpeth_close-TlxWfS {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1074px;
  width: 320px;
}

.basiccomponenttab .web-index-contents1dpeth_close-0iBalv {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1028px;
  width: 320px;
}

.basiccomponenttab .web-index-contents2dpeth-sRzHfg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 982px;
  width: 320px;
}

.basiccomponenttab .web-index-contents2dpeth-72KC1l {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 936px;
  width: 320px;
}

.basiccomponenttab .web-index-contents2dpeth-gxOYWY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 890px;
  width: 320px;
}

.basiccomponenttab .web-index-contents2dpeth-FkWUVm {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 844px;
  width: 320px;
}

.basiccomponenttab .web-index-contents2dpeth-CYaM90 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 798px;
  width: 320px;
}

.basiccomponenttab .web-index-contents2dpeth-TlxWfS {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 752px;
  width: 320px;
}

.basiccomponenttab .web-index-contents2dpeth-0iBalv {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 706px;
  width: 320px;
}

.basiccomponenttab .web-index-contents2dpeth-S41T8Z {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 614px;
  width: 320px;
}

.basiccomponenttab .web-index-contents2dpeth-VLwoR5 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 660px;
  width: 320px;
}

.basiccomponenttab .web-index-contents2dpeth-hv6nk9 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 568px;
  width: 320px;
}

.basiccomponenttab .web-index-contents2dpeth-txhHBr {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 522px;
  width: 320px;
}

.basiccomponenttab .web-index-contents2dpeth-WYdt0B {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 476px;
  width: 320px;
}

.basiccomponenttab .web-index-contents2dpeth-32QpMo {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 430px;
  width: 320px;
}

.basiccomponenttab .web-index-contents2dpeth-YwPxkw {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 384px;
  width: 320px;
}

.basiccomponenttab .web-index-contents2dpeth-kxt78S {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 338px;
  width: 320px;
}

.basiccomponenttab .web-index-contents1dpeth_open_selected-sRzHfg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 292px;
  width: 320px;
}

.basiccomponenttab .web-index-contents1dpeth_close-S41T8Z {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 320px;
}

.basiccomponenttab .web-index-contents1dpeth_close-VLwoR5 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 200px;
  width: 320px;
}

.basiccomponenttab .web-index-title-common-sRzHfg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 154px;
  width: 320px;
}

.basiccomponenttab .webgnb-qrwlt9 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponenttab .rectangle-YMOdvK {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponenttab .background-YMOdvK {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponenttab .index-YMOdvK {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.basiccomponenttab .web-index-select-sow505 {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.basiccomponenttab .web-index-unselect-sow505 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponenttab .web-index-unelect_main-YMOdvK {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.basiccomponenttab .logo-e2NJAk {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}
