/* screen - basiccomponentbottomnavigation */

.basiccomponentbottomnavigation {
  background-color: var(--white);
  height: 3379px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentbottomnavigation .group-19-5ixdJp {
  background-color: transparent;
  height: 738px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.basiccomponentbottomnavigation .group-12-5ixdJp {
  background-color: transparent;
  height: 951px;
  left: 420px;
  position: absolute;
  top: 1230px;
  width: 1400px;
}

.basiccomponentbottomnavigation .group-18-5ixdJp {
  background-color: transparent;
  height: 848px;
  left: 420px;
  position: absolute;
  top: 2331px;
  width: 1403px;
}

.basiccomponentbottomnavigation .web-sub_-title-5ixdJp {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basiccomponentbottomnavigation .web-title-area-5ixdJp {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentbottomnavigation .lnb-basic-component-5ixdJp {
  background-color: transparent;
  height: 1611px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbottomnavigation .rectangle-HF4YRU {
  background-color: var(--concrete);
  height: 1611px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbottomnavigation .background-HF4YRU {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbottomnavigation .rectangle-0Fqzcr {
  background-color: var(--concrete);
  height: 1524px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbottomnavigation .line-HF4YRU {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentbottomnavigation .home-net-ui-guideline-HF4YRU {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.basiccomponentbottomnavigation .group-HF4YRU {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1437px;
  width: 320px;
}

.basiccomponentbottomnavigation .empty-94pIux {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentbottomnavigation .empty-vMZbk2 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbottomnavigation .line-copy-94pIux {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentbottomnavigation .group-copy-HF4YRU {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1524px;
  width: 320px;
}

.basiccomponentbottomnavigation .empty-g0Hh2V {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentbottomnavigation .empty-P5gorB {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbottomnavigation .line-copy-g0Hh2V {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentbottomnavigation .group-0Fqzcr {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 1166px;
  width: 320px;
}

.basiccomponentbottomnavigation .empty-xqDGtM {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.basiccomponentbottomnavigation .empty-RBeLOV {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbottomnavigation .line-copy-xqDGtM {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.basiccomponentbottomnavigation .web-index-contents1dpeth_close-HF4YRU {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1391px;
  width: 320px;
}

.basiccomponentbottomnavigation .web-index-contents1dpeth_close-0Fqzcr {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1345px;
  width: 320px;
}

.basiccomponentbottomnavigation .web-index-contents1dpeth_close-QqWFL5 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1299px;
  width: 320px;
}

.basiccomponentbottomnavigation .web-index-contents1dpeth_close-ObdWcj {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1253px;
  width: 320px;
}

.basiccomponentbottomnavigation .web-index-title-reference-HF4YRU {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1478px;
  width: 313px;
}

.basiccomponentbottomnavigation .web-index-title-reference-copy-HF4YRU {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1565px;
  width: 313px;
}

.basiccomponentbottomnavigation .web-index-title-reference-0Fqzcr {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1207px;
  width: 313px;
}

.basiccomponentbottomnavigation .web-index-contents1dpeth_close-wF1ab5 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1120px;
  width: 320px;
}

.basiccomponentbottomnavigation .web-index-contents1dpeth_close-tEI16O {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1074px;
  width: 320px;
}

.basiccomponentbottomnavigation .web-index-contents1dpeth_close-nAK42J {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 1028px;
  width: 320px;
}

.basiccomponentbottomnavigation .web-index-contents2dpeth-HF4YRU {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 982px;
  width: 320px;
}

.basiccomponentbottomnavigation .web-index-contents2dpeth-0Fqzcr {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 936px;
  width: 320px;
}

.basiccomponentbottomnavigation .web-index-contents2dpeth-QqWFL5 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 890px;
  width: 320px;
}

.basiccomponentbottomnavigation .web-index-contents2dpeth-ObdWcj {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 844px;
  width: 320px;
}

.basiccomponentbottomnavigation .web-index-contents2dpeth-wF1ab5 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 798px;
  width: 320px;
}

.basiccomponentbottomnavigation .web-index-contents2dpeth-tEI16O {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 752px;
  width: 320px;
}

.basiccomponentbottomnavigation .web-index-contents2dpeth-nAK42J {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 706px;
  width: 320px;
}

.basiccomponentbottomnavigation .web-index-contents2dpeth-sr1cq0 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 614px;
  width: 320px;
}

.basiccomponentbottomnavigation .web-index-contents2dpeth-Swxdr1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 660px;
  width: 320px;
}

.basiccomponentbottomnavigation .web-index-contents2dpeth-fGbEEk {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 568px;
  width: 320px;
}

.basiccomponentbottomnavigation .web-index-contents2dpeth-9ffv6x {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 522px;
  width: 320px;
}

.basiccomponentbottomnavigation .web-index-contents2dpeth-pd8wi0 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 476px;
  width: 320px;
}

.basiccomponentbottomnavigation .web-index-contents2dpeth-IdBhaB {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 430px;
  width: 320px;
}

.basiccomponentbottomnavigation .web-index-contents2dpeth-VgNutx {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 384px;
  width: 320px;
}

.basiccomponentbottomnavigation .web-index-contents2dpeth-deh0Gh {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 338px;
  width: 320px;
}

.basiccomponentbottomnavigation .web-index-contents1dpeth_open_selected-HF4YRU {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 292px;
  width: 320px;
}

.basiccomponentbottomnavigation .web-index-contents1dpeth_close-sr1cq0 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 246px;
  width: 320px;
}

.basiccomponentbottomnavigation .web-index-contents1dpeth_close-Swxdr1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 200px;
  width: 320px;
}

.basiccomponentbottomnavigation .web-index-title-common-HF4YRU {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 154px;
  width: 320px;
}

.basiccomponentbottomnavigation .webgnb-5ixdJp {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentbottomnavigation .rectangle-iCik4T {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentbottomnavigation .background-iCik4T {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.basiccomponentbottomnavigation .index-iCik4T {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.basiccomponentbottomnavigation .web-index-select-qvf3hY {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.basiccomponentbottomnavigation .web-index-unselect-qvf3hY {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentbottomnavigation .web-index-unelect_main-iCik4T {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.basiccomponentbottomnavigation .logo-cxTJwn {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}
