/* screen - serviceplugincctvfeature */

.serviceplugincctvfeature {
  background-color: var(--white);
  height: 1206px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.serviceplugincctvfeature .group-2 {
  background-color: transparent;
  height: 664px;
  left: 393px;
  position: absolute;
  top: 342px;
  width: 697px;
}

.serviceplugincctvfeature .group-9 {
  background-color: transparent;
  height: 660px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.serviceplugincctvfeature .group-8 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.serviceplugincctvfeature .group-7 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.serviceplugincctvfeature .table-guide-text2line_mint-group-7 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugincctvfeature .table-guide-text2line_mint-copy-2-group-7 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.serviceplugincctvfeature .group-6 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.serviceplugincctvfeature .table-guide-text2line_mint-group-6 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugincctvfeature .table-guide-text2line_mint-copy-2-group-6 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.serviceplugincctvfeature .group-5 {
  background-color: transparent;
  height: 179px;
  left: 0px;
  position: absolute;
  top: 234px;
  width: 680px;
}

.serviceplugincctvfeature .table-guide-text2line_mint-group-5 {
  background-color: transparent;
  height: 179px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugincctvfeature .table-guide-text2line_mint-copy-2-group-5 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.serviceplugincctvfeature .group-4 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 423px;
  width: 680px;
}

.serviceplugincctvfeature .table-guide-text2line_mint-group-4 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugincctvfeature .table-guide-text2line_mint-copy-2-group-4 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.serviceplugincctvfeature .group-3 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 512px;
  width: 680px;
}

.serviceplugincctvfeature .table-guide-text2line_mint-group-3 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugincctvfeature .table-guide-text2line_mint-copy-2-group-3 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.serviceplugincctvfeature .group-1 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 581px;
  width: 680px;
}

.serviceplugincctvfeature .table-guide-text2line_mint-group {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugincctvfeature .table-guide-text2line_mint-copy-2-group {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.serviceplugincctvfeature .web-sub_-title {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.serviceplugincctvfeature .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.serviceplugincctvfeature .web-tab-service-plug-in_cctv {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.serviceplugincctvfeature .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.serviceplugincctvfeature .feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.serviceplugincctvfeature .interaction-flow {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.serviceplugincctvfeature .group-10 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeature .group-11 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeature .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
