/* screen - servicepluginvehicleinformationcase */

.servicepluginvehicleinformationcase {
  background-color: var(--white);
  height: 1839px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginvehicleinformationcase .group-13 {
  background-color: transparent;
  height: 1356px;
  left: 319px;
  position: absolute;
  top: 281px;
  width: 1600px;
}

.servicepluginvehicleinformationcase .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginvehicleinformationcase .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginvehicleinformationcase .feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginvehicleinformationcase .no-information {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 94px;
}

.servicepluginvehicleinformationcase .interaction-flow {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginvehicleinformationcase .group-1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationcase .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationcase .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
