/* screen - serviceplugindeliveriescard */

.serviceplugindeliveriescard {
  background-color: var(--white);
  height: 1311px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.serviceplugindeliveriescard .group-16 {
  background-color: transparent;
  height: 371px;
  left: 410px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.serviceplugindeliveriescard .group-15 {
  background-color: transparent;
  height: 769px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.serviceplugindeliveriescard .group-14 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.serviceplugindeliveriescard .group-1 {
  background-color: transparent;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.serviceplugindeliveriescard .table-guide-text2line_mint-group {
  background-color: transparent;
  height: 119px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugindeliveriescard .table-guide-text2line_mint-copy-2-group {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.serviceplugindeliveriescard .group-3 {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 680px;
}

.serviceplugindeliveriescard .table-guide-text2line_mint-group-3 {
  background-color: transparent;
  height: 99px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugindeliveriescard .table-guide-text2line_mint-copy-2-group-3 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.serviceplugindeliveriescard .group-5 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 294px;
  width: 680px;
}

.serviceplugindeliveriescard .table-guide-text2line_mint-group-5 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugindeliveriescard .table-guide-text2line_mint-copy-2-group-5 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.serviceplugindeliveriescard .group-10 {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 383px;
  width: 680px;
}

.serviceplugindeliveriescard .table-guide-text2line_mint-group-10 {
  background-color: transparent;
  height: 99px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugindeliveriescard .table-guide-text2line_mint-copy-2-group-10 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.serviceplugindeliveriescard .group-12 {
  background-color: transparent;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 561px;
  width: 680px;
}

.serviceplugindeliveriescard .table-guide-text2line_mint-group-12 {
  background-color: transparent;
  height: 119px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugindeliveriescard .group-11 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 492px;
  width: 680px;
}

.serviceplugindeliveriescard .table-guide-text2line_mint-group-11 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugindeliveriescard .table-guide-text2line_mint-copy-2-group-11 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.serviceplugindeliveriescard .group-13 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 690px;
  width: 680px;
}

.serviceplugindeliveriescard .table-guide-text2line_mint-group-13 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugindeliveriescard .table-guide-text2line_mint-copy-2-group-13 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.serviceplugindeliveriescard .web-sub_-title {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 285px;
  width: 1600px;
}

.serviceplugindeliveriescard .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 65px;
  width: 1600px;
}

.serviceplugindeliveriescard .web-tab-service-plug-in_-deliveries {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.serviceplugindeliveriescard .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.serviceplugindeliveriescard .feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.serviceplugindeliveriescard .interaction-flow {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.serviceplugindeliveriescard .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriescard .group-4 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriescard .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
