/* screen - servicepluginsaloggingems */

.servicepluginsaloggingems {
  background-color: var(--white);
  height: 2772px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginsaloggingems .group-16 {
  background-color: transparent;
  height: 2241px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 1600px;
}

.servicepluginsaloggingems .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginsaloggingems .web-tab-service-plug-in_cctv {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginsaloggingems .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginsaloggingems .more-option-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 77px;
}

.servicepluginsaloggingems .deliveries {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 62px;
}

.servicepluginsaloggingems .vehicle-information {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 122px;
}

.servicepluginsaloggingems .visitors-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 47px;
}

.servicepluginsaloggingems .maintenance-fee-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 102px;
}

.servicepluginsaloggingems .cctv-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 32px;
}

.servicepluginsaloggingems .ev-charging-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.servicepluginsaloggingems .reserve-visitor-vehi-copy-2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 137px;
}

.servicepluginsaloggingems .live-view-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 56px;
}

.servicepluginsaloggingems .group-1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingems .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingems .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
