/* screen - servicepluginenergyusagefeature */

.servicepluginenergyusagefeature {
  background-color: var(--white);
  height: 3722px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginenergyusagefeature .group-16 {
  background-color: transparent;
  height: 1057px;
  left: 390px;
  position: absolute;
  top: 2047px;
  width: 700px;
}

.servicepluginenergyusagefeature .group-15 {
  background-color: transparent;
  height: 1004px;
  left: 390px;
  position: absolute;
  top: 342px;
  width: 700px;
}

.servicepluginenergyusagefeature .group-28 {
  background-color: transparent;
  height: 1555px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.servicepluginenergyusagefeature .group-12 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-title-copy-group-12 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagefeature .table-guide-title-copy-2-group-12 {
  background-color: transparent;
  height: 56px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagefeature .table-guide-title-copy-3-group-12 {
  background-color: transparent;
  height: 56px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagefeature .group-17 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 66px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-group-17 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-group-17 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagefeature .group-18 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 155px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-group-18 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-group-18 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagefeature .group-19 {
  background-color: transparent;
  height: 259px;
  left: 0px;
  position: absolute;
  top: 244px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-group-19 {
  background-color: transparent;
  height: 259px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-group-19 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagefeature .group-20 {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 513px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-group-20 {
  background-color: transparent;
  height: 99px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-group-20 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagefeature .group-21 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 622px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-group-21 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-group-21 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagefeature .group-22 {
  background-color: transparent;
  height: 179px;
  left: 0px;
  position: absolute;
  top: 691px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-group-22 {
  background-color: transparent;
  height: 179px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-group-22 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagefeature .group-23 {
  background-color: transparent;
  height: 159px;
  left: 0px;
  position: absolute;
  top: 880px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-group-23 {
  background-color: transparent;
  height: 159px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-group-23 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagefeature .group-24 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 1049px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-group-24 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagefeature .group-26 {
  background-color: transparent;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 1327px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-group-26 {
  background-color: transparent;
  height: 119px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-group-26 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagefeature .group-27 {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 1456px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-group-27 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagefeature .group-25 {
  background-color: transparent;
  height: 179px;
  left: 0px;
  position: absolute;
  top: 1138px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-group-25 {
  background-color: transparent;
  height: 179px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-group-25 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagefeature .group-40 {
  background-color: transparent;
  height: 1475px;
  left: 1140px;
  position: absolute;
  top: 2047px;
  width: 680px;
}

.servicepluginenergyusagefeature .group-39 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-title-copy-group-39 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginenergyusagefeature .table-guide-title-copy-2-group-39 {
  background-color: transparent;
  height: 56px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagefeature .table-guide-title-copy-3-group-39 {
  background-color: transparent;
  height: 56px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagefeature .group-38 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 66px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-group-38 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagefeature .group-37 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 155px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-group-37 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagefeature .group-36 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 244px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-group-36 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagefeature .group-35 {
  background-color: transparent;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 333px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-group-35 {
  background-color: transparent;
  height: 119px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-group-35 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagefeature .group-34 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 462px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-group-34 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagefeature .group-33 {
  background-color: transparent;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 551px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-group-33 {
  background-color: transparent;
  height: 119px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-group-33 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagefeature .group-32 {
  background-color: transparent;
  height: 219px;
  left: 0px;
  position: absolute;
  top: 680px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-group-32 {
  background-color: transparent;
  height: 219px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-group-32 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagefeature .group-31 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 909px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-group-31 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-group-31 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagefeature .group-29 {
  background-color: transparent;
  height: 179px;
  left: 0px;
  position: absolute;
  top: 1187px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-group-29 {
  background-color: transparent;
  height: 179px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-group-29 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagefeature .group-13 {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 1376px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-group-13 {
  background-color: transparent;
  height: 99px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-group-13 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagefeature .group-30 {
  background-color: transparent;
  height: 179px;
  left: 0px;
  position: absolute;
  top: 998px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-group-30 {
  background-color: transparent;
  height: 179px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-group-30 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagefeature .web-sub_-title {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginenergyusagefeature .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginenergyusagefeature .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginenergyusagefeature .feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginenergyusagefeature .interaction-flow {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginenergyusagefeature .group-1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
