/* screen - servicepluginhomescreenbannerpreexperienceguidanceflow */

.servicepluginhomescreenbannerpreexperienceguidanceflow {
  background-color: var(--white);
  height: 1253px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .group-4 {
  background-color: transparent;
  height: 664px;
  left: 420px;
  position: absolute;
  top: 389px;
  width: 1400px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .web-sub_-title {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 1600px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .web-tab-service-plug-in_-home-screen {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .service-feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 93px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .banner-app-link {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .banner-_-i {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 245px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .banner-_-interaction {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 156px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .interaction-flow-copy-4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .notifications-_-feat {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 141px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .notifications-_-inte {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 194px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .help-_-guide-text {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 107px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .help-guide-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 67px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .help-guide-_-using-b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 154px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .help-_-interaction-f {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 141px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .group-1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .group-8 {
  background-color: transparent;
  height: 1404px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
