/* screen - servicepluginmaintenancefeefeature */

.servicepluginmaintenancefeefeature {
  background-color: var(--white);
  height: 3778px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginmaintenancefeefeature .group-11 {
  background-color: transparent;
  height: 1458px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.servicepluginmaintenancefeefeature .group-39 {
  background-color: transparent;
  height: 1263px;
  left: 400px;
  position: absolute;
  top: 2315px;
  width: 690px;
}

.servicepluginmaintenancefeefeature .group-28 {
  background-color: transparent;
  height: 1823px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .group-27 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-title-copy-group-27 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-title-copy-2-group-27 {
  background-color: transparent;
  height: 56px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .table-guide-title-copy-3-group-27 {
  background-color: transparent;
  height: 56px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginmaintenancefeefeature .group-26 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-group-26 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-copy-2-group-26 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginmaintenancefeefeature .group-25 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-group-25 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-copy-2-group-25 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginmaintenancefeefeature .group-24 {
  background-color: transparent;
  height: 179px;
  left: 0px;
  position: absolute;
  top: 234px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-group-24 {
  background-color: transparent;
  height: 179px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .group-23 {
  background-color: transparent;
  height: 179px;
  left: 0px;
  position: absolute;
  top: 423px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-group-23 {
  background-color: transparent;
  height: 179px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-copy-2-group-23 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginmaintenancefeefeature .group-22 {
  background-color: transparent;
  height: 139px;
  left: 0px;
  position: absolute;
  top: 612px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-group-22 {
  background-color: transparent;
  height: 139px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-copy-2-group-22 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginmaintenancefeefeature .group-21 {
  background-color: transparent;
  height: 139px;
  left: 0px;
  position: absolute;
  top: 761px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-group-21 {
  background-color: transparent;
  height: 139px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-copy-2-group-21 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginmaintenancefeefeature .group-20 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 910px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-group-20 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-copy-2-group-20 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginmaintenancefeefeature .group-19 {
  background-color: transparent;
  height: 259px;
  left: 0px;
  position: absolute;
  top: 999px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-group-19 {
  background-color: transparent;
  height: 259px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-copy-2-group-19 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginmaintenancefeefeature .group-18 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 1268px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-group-18 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-copy-2-group-18 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginmaintenancefeefeature .group-17 {
  background-color: transparent;
  height: 179px;
  left: 0px;
  position: absolute;
  top: 1357px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-group-17 {
  background-color: transparent;
  height: 179px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-copy-2-group-17 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginmaintenancefeefeature .group-16 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 1546px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-group-16 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-copy-2-group-16 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginmaintenancefeefeature .group-15 {
  background-color: transparent;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 1635px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-group-15 {
  background-color: transparent;
  height: 119px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-copy-2-group-15 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginmaintenancefeefeature .group-10 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 1764px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-group-10 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-copy-2-group-10 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginmaintenancefeefeature .group-38 {
  background-color: transparent;
  height: 1087px;
  left: 1140px;
  position: absolute;
  top: 2315px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .group-37 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-title-copy-group-37 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginmaintenancefeefeature .table-guide-title-copy-2-group-37 {
  background-color: transparent;
  height: 56px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .table-guide-title-copy-3-group-37 {
  background-color: transparent;
  height: 56px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginmaintenancefeefeature .group-36 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-copy-2-group-36 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginmaintenancefeefeature .group-35 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-group-35 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-copy-2-group-35 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginmaintenancefeefeature .group-34 {
  background-color: transparent;
  height: 179px;
  left: 0px;
  position: absolute;
  top: 234px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-group-34 {
  background-color: transparent;
  height: 179px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .group-33 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 423px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-group-33 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-copy-2-group-33 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginmaintenancefeefeature .group-32 {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 492px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-group-32 {
  background-color: transparent;
  height: 99px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-copy-2-group-32 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginmaintenancefeefeature .group-31 {
  background-color: transparent;
  height: 139px;
  left: 0px;
  position: absolute;
  top: 601px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-group-31 {
  background-color: transparent;
  height: 139px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-copy-2-group-31 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginmaintenancefeefeature .group-30 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 750px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-group-30 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-copy-2-group-30 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginmaintenancefeefeature .group-29 {
  background-color: transparent;
  height: 179px;
  left: 0px;
  position: absolute;
  top: 839px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-group-29 {
  background-color: transparent;
  height: 179px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-copy-2-group-29 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginmaintenancefeefeature .group-14 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 1028px;
  width: 680px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-group-14 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginmaintenancefeefeature .table-guide-text2line_mint-copy-2-group-14 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginmaintenancefeefeature .web-sub_-title {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginmaintenancefeefeature .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginmaintenancefeefeature .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginmaintenancefeefeature .feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginmaintenancefeefeature .interaction-flow-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginmaintenancefeefeature .group-1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginmaintenancefeefeature .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
