/* screen - serviceplugindeliveriesfeature */

.serviceplugindeliveriesfeature {
  background-color: var(--white);
  height: 1262px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.serviceplugindeliveriesfeature .group-12 {
  background-color: transparent;
  height: 720px;
  left: 390px;
  position: absolute;
  top: 342px;
  width: 700px;
}

.serviceplugindeliveriesfeature .web-sub_-title {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.serviceplugindeliveriesfeature .group-11 {
  background-color: transparent;
  height: 691px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.serviceplugindeliveriesfeature .group-10 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.serviceplugindeliveriesfeature .group-9 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.serviceplugindeliveriesfeature .table-guide-text2line_mint-group-9 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugindeliveriesfeature .table-guide-text2line_mint-copy-2-group-9 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.serviceplugindeliveriesfeature .group-8 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.serviceplugindeliveriesfeature .table-guide-text2line_mint-group-8 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugindeliveriesfeature .table-guide-text2line_mint-copy-2-group-8 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.serviceplugindeliveriesfeature .group-5 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 234px;
  width: 680px;
}

.serviceplugindeliveriesfeature .table-guide-text2line_mint-group-5 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugindeliveriesfeature .table-guide-text2line_mint-copy-2-group-5 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.serviceplugindeliveriesfeature .group-3 {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 323px;
  width: 680px;
}

.serviceplugindeliveriesfeature .table-guide-text2line_mint-group-3 {
  background-color: transparent;
  height: 99px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugindeliveriesfeature .table-guide-text2line_mint-copy-2-group-3 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.serviceplugindeliveriesfeature .group-1 {
  background-color: transparent;
  height: 259px;
  left: 0px;
  position: absolute;
  top: 432px;
  width: 680px;
}

.serviceplugindeliveriesfeature .table-guide-text2line_mint-group {
  background-color: transparent;
  height: 259px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugindeliveriesfeature .table-guide-text2line_mint-copy-2-group {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.serviceplugindeliveriesfeature .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.serviceplugindeliveriesfeature .web-tab-service-plug-in_-deliveries {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.serviceplugindeliveriesfeature .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.serviceplugindeliveriesfeature .feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.serviceplugindeliveriesfeature .interaction-flow {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.serviceplugindeliveriesfeature .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesfeature .group-4 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesfeature .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
