/* screen - servicepluginhomescreenbasic */

.servicepluginhomescreenbasic {
  background-color: var(--white);
  height: 1400px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomescreenbasic .group-7 {
  background-color: transparent;
  height: 588px;
  left: 400px;
  position: absolute;
  top: 389px;
  width: 690px;
}

.servicepluginhomescreenbasic .group-11 {
  background-color: transparent;
  height: 811px;
  left: 1140px;
  position: absolute;
  top: 389px;
  width: 680px;
}

.servicepluginhomescreenbasic .group-10 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginhomescreenbasic .group-9 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginhomescreenbasic .table-guide-text2line_mint-group-9 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomescreenbasic .table-guide-text2line_mint-copy-2-group-9 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginhomescreenbasic .group-8 {
  background-color: transparent;
  height: 139px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.servicepluginhomescreenbasic .table-guide-text2line_mint-group-8 {
  background-color: transparent;
  height: 139px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomescreenbasic .table-guide-text2line_mint-copy-2-group-8 {
  background-color: transparent;
  height: 57px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginhomescreenbasic .group-6 {
  background-color: transparent;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 294px;
  width: 680px;
}

.servicepluginhomescreenbasic .table-guide-text2line_mint-group-6 {
  background-color: transparent;
  height: 119px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomescreenbasic .table-guide-text2line_mint-copy-2-group-6 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginhomescreenbasic .group-5 {
  background-color: transparent;
  height: 219px;
  left: 0px;
  position: absolute;
  top: 423px;
  width: 680px;
}

.servicepluginhomescreenbasic .table-guide-text2line_mint-group-5 {
  background-color: transparent;
  height: 219px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomescreenbasic .table-guide-text2line_mint-copy-2-group-5 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginhomescreenbasic .group-3 {
  background-color: transparent;
  height: 159px;
  left: 0px;
  position: absolute;
  top: 652px;
  width: 680px;
}

.servicepluginhomescreenbasic .table-guide-text2line_mint-group-3 {
  background-color: transparent;
  height: 159px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomescreenbasic .table-guide-text2line_mint-copy-2-group-3 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginhomescreenbasic .web-sub_-title {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 1600px;
}

.servicepluginhomescreenbasic .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomescreenbasic .web-tab-service-plug-in_-home-screen {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginhomescreenbasic .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginhomescreenbasic .service-feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 93px;
}

.servicepluginhomescreenbasic .banner-app-link {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.servicepluginhomescreenbasic .feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginhomescreenbasic .interaction-flow-copy-4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginhomescreenbasic .notifications-_-feat {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 141px;
}

.servicepluginhomescreenbasic .group-1 {
  background-color: transparent;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 194px;
}

.servicepluginhomescreenbasic .notifications-_-inte {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 194px;
}

.servicepluginhomescreenbasic .group-2 {
  background-color: transparent;
  height: 17px;
  margin: 0;
  position: relative;
  width: 619px;
}

.servicepluginhomescreenbasic .help-_-interaction-f {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 478px;
  position: absolute;
  top: 0px;
  width: 141px;
}

.servicepluginhomescreenbasic .help-guide-_-using-b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 274px;
  position: absolute;
  top: 0px;
  width: 154px;
}

.servicepluginhomescreenbasic .help-guide-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 157px;
  position: absolute;
  top: 0px;
  width: 67px;
}

.servicepluginhomescreenbasic .help-_-guide-text {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 107px;
}

.servicepluginhomescreenbasic .group-4 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .group-12 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbasic .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
