/* screen - servicepluginhomescreenbannerauthenticationcode */

.servicepluginhomescreenbannerauthenticationcode {
  background-color: var(--white);
  height: 1604px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomescreenbannerauthenticationcode .group-2 {
  background-color: transparent;
  height: 357px;
  left: 420px;
  position: absolute;
  top: 389px;
  width: 1400px;
}

.servicepluginhomescreenbannerauthenticationcode .group-1 {
  background-color: transparent;
  height: 498px;
  left: 420px;
  position: absolute;
  top: 906px;
  width: 1400px;
}

.servicepluginhomescreenbannerauthenticationcode .web-sub_-title {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 1600px;
}

.servicepluginhomescreenbannerauthenticationcode .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomescreenbannerauthenticationcode .web-tab-service-plug-in_-home-screen {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginhomescreenbannerauthenticationcode .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginhomescreenbannerauthenticationcode .service-feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 93px;
}

.servicepluginhomescreenbannerauthenticationcode .banner-app-link {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.servicepluginhomescreenbannerauthenticationcode .banner-_-i {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 244px;
}

.servicepluginhomescreenbannerauthenticationcode .banner-_-interaction {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 156px;
}

.servicepluginhomescreenbannerauthenticationcode .feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.servicepluginhomescreenbannerauthenticationcode .interaction-flow-copy-4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginhomescreenbannerauthenticationcode .notifications-_-feat {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 141px;
}

.servicepluginhomescreenbannerauthenticationcode .notifications-_-inte {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 194px;
}

.servicepluginhomescreenbannerauthenticationcode .help-_-guide-text {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 107px;
}

.servicepluginhomescreenbannerauthenticationcode .help-guide-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 67px;
}

.servicepluginhomescreenbannerauthenticationcode .help-guide-_-using-b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 154px;
}

.servicepluginhomescreenbannerauthenticationcode .help-_-interaction-f {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 141px;
}

.servicepluginhomescreenbannerauthenticationcode .group-3 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbannerauthenticationcode .group-4 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbannerauthenticationcode .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginhomescreenbannerauthenticationcode .group-8 {
  background-color: transparent;
  height: 1404px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
