/* screen - servicepluginservicescreenfeaturetitle */

.servicepluginservicescreenfeaturetitle {
  background-color: var(--white);
  height: 1549px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginservicescreenfeaturetitle .group-16 {
  background-color: transparent;
  height: 1065px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginservicescreenfeaturetitle .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginservicescreenfeaturetitle .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginservicescreenfeaturetitle .service-feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 93px;
}

.servicepluginservicescreenfeaturetitle .feature-title {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 77px;
}

.servicepluginservicescreenfeaturetitle .no-information {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 94px;
}

.servicepluginservicescreenfeaturetitle .group-1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicescreenfeaturetitle .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
