/* screen - servicepluginvehicleinformationinteractionflow */

.servicepluginvehicleinformationinteractionflow {
  background-color: var(--white);
  height: 2206px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginvehicleinformationinteractionflow .group-6 {
  background-color: transparent;
  height: 778px;
  left: 420px;
  position: absolute;
  top: 1228px;
  width: 1400px;
}

.servicepluginvehicleinformationinteractionflow .group-7 {
  background-color: transparent;
  height: 794px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginvehicleinformationinteractionflow .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginvehicleinformationinteractionflow .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginvehicleinformationinteractionflow .feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginvehicleinformationinteractionflow .no-information {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 94px;
}

.servicepluginvehicleinformationinteractionflow .interaction-flow {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 99px;
}

.servicepluginvehicleinformationinteractionflow .group-1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationinteractionflow .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationinteractionflow .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
