/* screen - servicepluginenergyusagecard */

.servicepluginenergyusagecard {
  background-color: var(--white);
  height: 1561px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginenergyusagecard .group-12 {
  background-color: transparent;
  height: 479px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.servicepluginenergyusagecard .group-13 {
  background-color: transparent;
  height: 440px;
  left: 420px;
  position: absolute;
  top: 921px;
  width: 670px;
}

.servicepluginenergyusagecard .group-20 {
  background-color: transparent;
  height: 869px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.servicepluginenergyusagecard .group-19 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginenergyusagecard .group-18 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginenergyusagecard .table-guide-text2line_mint-group-18 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagecard .table-guide-text2line_mint-copy-2-group-18 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagecard .group-17 {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 125px;
  width: 680px;
}

.servicepluginenergyusagecard .table-guide-text2line_mint-group-17 {
  background-color: transparent;
  height: 99px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagecard .table-guide-text2line_mint-copy-2-group-17 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagecard .group-16 {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 234px;
  width: 680px;
}

.servicepluginenergyusagecard .table-guide-text2line_mint-group-16 {
  background-color: transparent;
  height: 99px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagecard .table-guide-text2line_mint-copy-2-group-16 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagecard .group-15 {
  background-color: transparent;
  height: 139px;
  left: 0px;
  position: absolute;
  top: 343px;
  width: 680px;
}

.servicepluginenergyusagecard .table-guide-text2line_mint-group-15 {
  background-color: transparent;
  height: 139px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagecard .table-guide-text2line_mint-copy-2-group-15 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagecard .group-14 {
  background-color: transparent;
  height: 179px;
  left: 0px;
  position: absolute;
  top: 492px;
  width: 680px;
}

.servicepluginenergyusagecard .table-guide-text2line_mint-group-14 {
  background-color: transparent;
  height: 179px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagecard .table-guide-text2line_mint-copy-2-group-14 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagecard .group-9 {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 681px;
  width: 680px;
}

.servicepluginenergyusagecard .table-guide-text2line_mint-group-9 {
  background-color: transparent;
  height: 99px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagecard .table-guide-text2line_mint-copy-2-group-9 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagecard .group-3 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 790px;
  width: 680px;
}

.servicepluginenergyusagecard .table-guide-text2line_mint-group-3 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagecard .table-guide-text2line_mint-copy-2-group-3 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginenergyusagecard .web-sub_-title {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginenergyusagecard .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginenergyusagecard .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginenergyusagecard .feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginenergyusagecard .interaction-flow {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginenergyusagecard .group-1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagecard .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
