/* screen - servicepluginreservevisitorvehiclefeature */

.servicepluginreservevisitorvehiclefeature {
  background-color: var(--white);
  height: 4330px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginreservevisitorvehiclefeature .group-44 {
  background-color: transparent;
  height: 1221px;
  left: 1140px;
  position: absolute;
  top: 1579px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .group-37 {
  background-color: transparent;
  height: 384px;
  left: 0px;
  position: absolute;
  top: 541px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-group-37 {
  background-color: transparent;
  height: 359px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .group-2-group-37 {
  background-color: transparent;
  height: 127px;
  left: 424px;
  position: absolute;
  top: 18px;
  width: 256px;
}

.servicepluginreservevisitorvehiclefeature .group-3-group-37 {
  background-color: transparent;
  height: 196px;
  left: 424px;
  position: absolute;
  top: 188px;
  width: 256px;
}

.servicepluginreservevisitorvehiclefeature .group-42 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title-copy-group-42 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title-copy-2-group-42 {
  background-color: transparent;
  height: 56px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title-copy-3-group-42 {
  background-color: transparent;
  height: 56px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .group-4 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-group-4 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-2-group-4 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .group-35 {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 274px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-group-35 {
  background-color: transparent;
  height: 99px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-2-group-35 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .group-36 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 383px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-2-group-36 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .group-43 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 472px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-group-43 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-2-group-43 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-group-43 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .group-39 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 935px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-group-39 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-2-group-39 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-group-39 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .group-38 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 1024px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-group-38 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .group-40 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 1093px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-group-40 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-2-group-40 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-group-40 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .group-13 {
  background-color: transparent;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-group-13 {
  background-color: transparent;
  height: 119px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-2-group-13 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .group-41 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 1162px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-group-41 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-2-group-41 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-group-41 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .group-54 {
  background-color: transparent;
  height: 1087px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .group-49 {
  background-color: transparent;
  height: 379px;
  left: 0px;
  position: absolute;
  top: 412px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-group-49 {
  background-color: transparent;
  height: 379px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-2-group-49 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-group-49 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .group-2-group-49 {
  background-color: transparent;
  height: 107px;
  left: 417px;
  position: absolute;
  top: 37px;
  width: 263px;
}

.servicepluginreservevisitorvehiclefeature .group-3-group-49 {
  background-color: transparent;
  height: 166px;
  left: 417px;
  position: absolute;
  top: 200px;
  width: 263px;
}

.servicepluginreservevisitorvehiclefeature .group-34 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title-copy-group-34 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title-copy-2-group-34 {
  background-color: transparent;
  height: 56px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title-copy-3-group-34 {
  background-color: transparent;
  height: 56px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .group-45 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-group-45 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-2-group-45 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-group-45 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .group-47 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 254px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-group-47 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-2-group-47 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-group-47 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .group-48 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 343px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-group-48 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-2-group-48 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-group-48 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .group-50 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 801px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-group-50 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-2-group-50 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-group-50 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .group-51 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 890px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-group-51 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-2-group-51 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-group-51 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .group-52 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 959px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-group-52 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-2-group-52 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-group-52 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .group-46 {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-group-46 {
  background-color: transparent;
  height: 99px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-2-group-46 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-group-46 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .group-53 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 1028px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-group-53 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-2-group-53 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-group-53 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .group-33 {
  background-color: transparent;
  height: 1007px;
  left: 1140px;
  position: absolute;
  top: 3121px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .group-32 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title-copy-group-32 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title-copy-2-group-32 {
  background-color: transparent;
  height: 56px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title-copy-3-group-32 {
  background-color: transparent;
  height: 56px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .group-31 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-group-31 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-2-group-31 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .group-29 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 354px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-group-29 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-2-group-29 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .group-28 {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 423px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-group-28 {
  background-color: transparent;
  height: 99px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-2-group-28 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-group-28 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .group-27 {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 532px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-2-group-27 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .group-26 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 641px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-group-26 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-2-group-26 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .group-18 {
  background-color: transparent;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 730px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-group-18 {
  background-color: transparent;
  height: 119px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-2-group-18 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .group-17 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 859px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-group-17 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-2-group-17 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .group-16 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 928px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-group-16 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-2-group-16 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .group-30 {
  background-color: transparent;
  height: 199px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-group-30 {
  background-color: transparent;
  height: 199px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_mint-copy-2-group-30 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginreservevisitorvehiclefeature .group-19 {
  background-color: transparent;
  height: 772px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.servicepluginreservevisitorvehiclefeature .group-20 {
  background-color: transparent;
  height: 1392px;
  left: 420px;
  position: absolute;
  top: 1579px;
  width: 670px;
}

.servicepluginreservevisitorvehiclefeature .group-25 {
  background-color: transparent;
  height: 1009px;
  left: 402px;
  position: absolute;
  top: 3121px;
  width: 688px;
}

.servicepluginreservevisitorvehiclefeature .basic-component-list-text_-double_1sub {
  background-color: transparent;
  height: 34px;
  left: 1046px;
  position: absolute;
  top: 4080px;
  width: 44px;
}

.servicepluginreservevisitorvehiclefeature .sub-text-2 {
  background-color: transparent;
  color: #909090;
  font-family: var(--font-family-applesdgothicneo-regular);
  font-size: var(--font-size-s);
  font-weight: 400;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: right;
  top: 22px;
  white-space: nowrap;
  width: 45px;
}

.servicepluginreservevisitorvehiclefeature .sub-text-1 {
  background-color: transparent;
  color: #909090;
  font-family: var(--font-family-times-roman);
  font-size: var(--font-size-s);
  font-weight: 400;
  height: auto;
  left: -2px;
  letter-spacing: 0.00px;
  line-height: 13px;
  position: absolute;
  text-align: right;
  top: 0px;
  white-space: nowrap;
  width: 46px;
}

.servicepluginreservevisitorvehiclefeature .web-sub_-title {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginreservevisitorvehiclefeature .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginreservevisitorvehiclefeature .web-tab-service-plug-in_cctv {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginreservevisitorvehiclefeature .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginreservevisitorvehiclefeature .feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginreservevisitorvehiclefeature .interaction-flow {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginreservevisitorvehiclefeature .group-1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeature .group-5 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeature .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
