/* screen - servicepluginvisitorscase */

.servicepluginvisitorscase {
  background-color: var(--white);
  height: 1819px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginvisitorscase .group-8 {
  background-color: transparent;
  height: 1324px;
  left: 320px;
  position: absolute;
  top: 295px;
  width: 1600px;
}

.servicepluginvisitorscase .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginvisitorscase .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginvisitorscase .feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginvisitorscase .interaction-flow {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginvisitorscase .group-1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscase .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvisitorscase .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
