/* screen - servicepluginvehicleinformationservicetitle */

.servicepluginvehicleinformationservicetitle {
  background-color: var(--white);
  height: 1236px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginvehicleinformationservicetitle .group-2 {
  background-color: transparent;
  height: 752px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginvehicleinformationservicetitle .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginvehicleinformationservicetitle .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginvehicleinformationservicetitle .feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginvehicleinformationservicetitle .no-information {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 94px;
}

.servicepluginvehicleinformationservicetitle .interaction-flow {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginvehicleinformationservicetitle .group-1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationservicetitle .group-3 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginvehicleinformationservicetitle .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
