/* screen - servicepluginhomescreenbannerapplink */

.servicepluginhomescreenbannerapplink {
  background-color: var(--white);
  height: 1560px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomescreenbannerapplink .group-10 {
  background-color: transparent;
  height: 1029px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 1600px;
}

.servicepluginhomescreenbannerapplink .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomescreenbannerapplink .web-tab-service-plug-in_-home-screen {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginhomescreenbannerapplink .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginhomescreenbannerapplink .service-feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 93px;
}

.servicepluginhomescreenbannerapplink .banner-app-link {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 111px;
}

.servicepluginhomescreenbannerapplink .feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginhomescreenbannerapplink .interaction-flow-copy-4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginhomescreenbannerapplink .notifications-_-feat {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 141px;
}

.servicepluginhomescreenbannerapplink .group-1 {
  background-color: transparent;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 194px;
}

.servicepluginhomescreenbannerapplink .notifications-_-inte {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 194px;
}

.servicepluginhomescreenbannerapplink .group-2 {
  background-color: transparent;
  height: 17px;
  margin: 0;
  position: relative;
  width: 619px;
}

.servicepluginhomescreenbannerapplink .help-_-interaction-f {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 478px;
  position: absolute;
  top: 0px;
  width: 141px;
}

.servicepluginhomescreenbannerapplink .help-guide-_-using-b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 274px;
  position: absolute;
  top: 0px;
  width: 154px;
}

.servicepluginhomescreenbannerapplink .help-guide-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 157px;
  position: absolute;
  top: 0px;
  width: 67px;
}

.servicepluginhomescreenbannerapplink .help-_-guide-text {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 107px;
}

.servicepluginhomescreenbannerapplink .group-3 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbannerapplink .group-4 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbannerapplink .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
