/* screen - servicepluginsaloggingdeliveries */

.servicepluginsaloggingdeliveries {
  background-color: var(--white);
  height: 1365px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginsaloggingdeliveries .group-10 {
  background-color: transparent;
  height: 834px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 1600px;
}

.servicepluginsaloggingdeliveries .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginsaloggingdeliveries .web-tab-service-plug-in_cctv {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginsaloggingdeliveries .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginsaloggingdeliveries .more-option-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 77px;
}

.servicepluginsaloggingdeliveries .deliveries {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 63px;
}

.servicepluginsaloggingdeliveries .vehicle-information {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 122px;
}

.servicepluginsaloggingdeliveries .visitors-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 47px;
}

.servicepluginsaloggingdeliveries .maintenance-fee-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 102px;
}

.servicepluginsaloggingdeliveries .cctv-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 32px;
}

.servicepluginsaloggingdeliveries .ev-charging-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.servicepluginsaloggingdeliveries .reserve-visitor-vehi-copy-2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 137px;
}

.servicepluginsaloggingdeliveries .live-view-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 56px;
}

.servicepluginsaloggingdeliveries .group-1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingdeliveries .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingdeliveries .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
