/* screen - servicepluginevchargingfeature */

.servicepluginevchargingfeature {
  background-color: var(--white);
  height: 1286px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginevchargingfeature .group-10 {
  background-color: transparent;
  height: 560px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.servicepluginevchargingfeature .group-9 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginevchargingfeature .group-8 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginevchargingfeature .table-guide-text2line_mint-group-8 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginevchargingfeature .table-guide-text2line_mint-copy-2-group-8 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginevchargingfeature .group-7 {
  background-color: transparent;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.servicepluginevchargingfeature .table-guide-text2line_mint-group-7 {
  background-color: transparent;
  height: 119px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginevchargingfeature .table-guide-text2line_mint-copy-2-group-7 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginevchargingfeature .group-6 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 274px;
  width: 680px;
}

.servicepluginevchargingfeature .table-guide-text2line_mint-group-6 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginevchargingfeature .table-guide-text2line_mint-copy-2-group-6 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginevchargingfeature .group-5 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 363px;
  width: 680px;
}

.servicepluginevchargingfeature .table-guide-text2line_mint-group-5 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginevchargingfeature .table-guide-text2line_mint-copy-2-group-5 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginevchargingfeature .group-4 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 432px;
  width: 680px;
}

.servicepluginevchargingfeature .table-guide-text2line_mint-group-4 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginevchargingfeature .table-guide-text2line_mint-copy-2-group-4 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginevchargingfeature .group-3 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 501px;
  width: 680px;
}

.servicepluginevchargingfeature .table-guide-text2line_mint-group-3 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginevchargingfeature .table-guide-text2line_mint-copy-2-group-3 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginevchargingfeature .group-2 {
  background-color: transparent;
  height: 744px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.servicepluginevchargingfeature .web-sub_-title {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginevchargingfeature .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginevchargingfeature .web-tab-service-plug-in_cctv {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginevchargingfeature .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginevchargingfeature .feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginevchargingfeature .interaction-flow {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginevchargingfeature .group-1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginevchargingfeature .group-11 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginevchargingfeature .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
