/* screen - serviceplugintutorialserviceintroductiontutorial */

.serviceplugintutorialserviceintroductiontutorial {
  background-color: var(--white);
  height: 1644px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.serviceplugintutorialserviceintroductiontutorial .group-15 {
  background-color: transparent;
  height: 1160px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.serviceplugintutorialserviceintroductiontutorial .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.serviceplugintutorialserviceintroductiontutorial .web-tab-service-plug-in_-home-screen {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.serviceplugintutorialserviceintroductiontutorial .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.serviceplugintutorialserviceintroductiontutorial .service-introduction-1 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 188px;
}

.serviceplugintutorialserviceintroductiontutorial .service-introduction-2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 264px;
}

.serviceplugintutorialserviceintroductiontutorial .service-introduction-3 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 322px;
}

.serviceplugintutorialserviceintroductiontutorial .group-1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialserviceintroductiontutorial .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialserviceintroductiontutorial .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
