/* screen - servicepluginhomescreeninteractionflow */

.servicepluginhomescreeninteractionflow {
  background-color: var(--white);
  height: 2354px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomescreeninteractionflow .group-1 {
  background-color: transparent;
  height: 897px;
  left: 420px;
  position: absolute;
  top: 389px;
  width: 1400px;
}

.servicepluginhomescreeninteractionflow .group-2 {
  background-color: transparent;
  height: 718px;
  left: 420px;
  position: absolute;
  top: 1436px;
  width: 1400px;
}

.servicepluginhomescreeninteractionflow .web-sub_-title {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 1600px;
}

.servicepluginhomescreeninteractionflow .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomescreeninteractionflow .web-tab-service-plug-in_-home-screen {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginhomescreeninteractionflow .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginhomescreeninteractionflow .service-feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 93px;
}

.servicepluginhomescreeninteractionflow .banner-app-link {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.servicepluginhomescreeninteractionflow .feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginhomescreeninteractionflow .interaction-flow-copy-4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 99px;
}

.servicepluginhomescreeninteractionflow .notifications-_-feat {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 141px;
}

.servicepluginhomescreeninteractionflow .group-3 {
  background-color: transparent;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 194px;
}

.servicepluginhomescreeninteractionflow .notifications-_-inte {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 194px;
}

.servicepluginhomescreeninteractionflow .group-4 {
  background-color: transparent;
  height: 17px;
  margin: 0;
  position: relative;
  width: 619px;
}

.servicepluginhomescreeninteractionflow .help-_-interaction-f {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 478px;
  position: absolute;
  top: 0px;
  width: 141px;
}

.servicepluginhomescreeninteractionflow .help-guide-_-using-b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 274px;
  position: absolute;
  top: 0px;
  width: 154px;
}

.servicepluginhomescreeninteractionflow .help-guide-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 157px;
  position: absolute;
  top: 0px;
  width: 67px;
}

.servicepluginhomescreeninteractionflow .help-_-guide-text {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 107px;
}

.servicepluginhomescreeninteractionflow .group-5 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .group-6 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreeninteractionflow .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
