/* screen - serviceplugindeliveriesinteractionflow */

.serviceplugindeliveriesinteractionflow {
  background-color: var(--white);
  height: 1268px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.serviceplugindeliveriesinteractionflow .group-6 {
  background-color: transparent;
  height: 784px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.serviceplugindeliveriesinteractionflow .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.serviceplugindeliveriesinteractionflow .web-tab-service-plug-in_-deliveries {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.serviceplugindeliveriesinteractionflow .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.serviceplugindeliveriesinteractionflow .feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.serviceplugindeliveriesinteractionflow .interaction-flow {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 99px;
}

.serviceplugindeliveriesinteractionflow .group-1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesinteractionflow .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesinteractionflow .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
