/* screen - servicepluginhomescreenbannerinteractionflow */

.servicepluginhomescreenbannerinteractionflow {
  background-color: var(--white);
  height: 1253px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomescreenbannerinteractionflow .group-4 {
  background-color: transparent;
  height: 766px;
  left: 420px;
  position: absolute;
  top: 389px;
  width: 1400px;
}

.servicepluginhomescreenbannerinteractionflow .web-sub_-title {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 1600px;
}

.servicepluginhomescreenbannerinteractionflow .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomescreenbannerinteractionflow .web-tab-service-plug-in_-home-screen {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginhomescreenbannerinteractionflow .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginhomescreenbannerinteractionflow .service-feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 93px;
}

.servicepluginhomescreenbannerinteractionflow .banner-app-link {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.servicepluginhomescreenbannerinteractionflow .banner-_-i {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 244px;
}

.servicepluginhomescreenbannerinteractionflow .banner-_-interaction {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 157px;
}

.servicepluginhomescreenbannerinteractionflow .feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.servicepluginhomescreenbannerinteractionflow .interaction-flow-copy-4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginhomescreenbannerinteractionflow .notifications-_-feat {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 141px;
}

.servicepluginhomescreenbannerinteractionflow .notifications-_-inte {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 194px;
}

.servicepluginhomescreenbannerinteractionflow .help-_-guide-text {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 107px;
}

.servicepluginhomescreenbannerinteractionflow .help-guide-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 67px;
}

.servicepluginhomescreenbannerinteractionflow .help-guide-_-using-b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 154px;
}

.servicepluginhomescreenbannerinteractionflow .help-_-interaction-f {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 141px;
}

.servicepluginhomescreenbannerinteractionflow .group-1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbannerinteractionflow .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbannerinteractionflow .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginhomescreenbannerinteractionflow .group-8 {
  background-color: transparent;
  height: 1404px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
