/* screen - servicepluginbasicinteractionmore */

.servicepluginbasicinteractionmore {
  background-color: var(--white);
  height: 1257px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginbasicinteractionmore .group-1 {
  background-color: transparent;
  height: 773px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginbasicinteractionmore .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginbasicinteractionmore .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginbasicinteractionmore .interaction-history {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 114px;
}

.servicepluginbasicinteractionmore .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginbasicinteractionmore .group-3 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginbasicinteractionmore .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
