/* screen - servicepluginservicecsreenservicefeature */

.servicepluginservicecsreenservicefeature {
  background-color: var(--white);
  height: 1206px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginservicecsreenservicefeature .group-2 {
  background-color: transparent;
  height: 664px;
  left: 396px;
  position: absolute;
  top: 342px;
  width: 694px;
}

.servicepluginservicecsreenservicefeature .group-9 {
  background-color: transparent;
  height: 520px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.servicepluginservicecsreenservicefeature .group-8 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginservicecsreenservicefeature .group-7 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-group-7 {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-copy-2-group-7 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginservicecsreenservicefeature .group-6 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-group-6 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-copy-2-group-6 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginservicecsreenservicefeature .group-5 {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 214px;
  width: 680px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-group-5 {
  background-color: transparent;
  height: 99px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-copy-2-group-5 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginservicecsreenservicefeature .group-4 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 323px;
  width: 680px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-group-4 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-copy-2-group-4 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginservicecsreenservicefeature .group-3 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 392px;
  width: 680px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-group-3 {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-copy-2-group-3 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginservicecsreenservicefeature .group-1 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 461px;
  width: 680px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-group {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginservicecsreenservicefeature .table-guide-text2line_mint-copy-2-group {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicepluginservicecsreenservicefeature .web-sub_-title {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginservicecsreenservicefeature .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginservicecsreenservicefeature .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginservicecsreenservicefeature .service-feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 94px;
}

.servicepluginservicecsreenservicefeature .feature-title {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 76px;
}

.servicepluginservicecsreenservicefeature .no-information {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 94px;
}

.servicepluginservicecsreenservicefeature .group-10 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .group-11 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginservicecsreenservicefeature .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
