/* screen - servicepluginhomescreenservicefeature */

.servicepluginhomescreenservicefeature {
  background-color: var(--white);
  height: 1495px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomescreenservicefeature .group-2 {
  background-color: transparent;
  height: 964px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 1600px;
}

.servicepluginhomescreenservicefeature .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomescreenservicefeature .web-tab-service-plug-in_-home-screen {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginhomescreenservicefeature .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginhomescreenservicefeature .service-feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 94px;
}

.servicepluginhomescreenservicefeature .banner-app-link {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.servicepluginhomescreenservicefeature .feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginhomescreenservicefeature .interaction-flow-copy-4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginhomescreenservicefeature .notifications-_-feat {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 141px;
}

.servicepluginhomescreenservicefeature .group-1 {
  background-color: transparent;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 194px;
}

.servicepluginhomescreenservicefeature .notifications-_-inte {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 194px;
}

.servicepluginhomescreenservicefeature .group-3 {
  background-color: transparent;
  height: 17px;
  margin: 0;
  position: relative;
  width: 619px;
}

.servicepluginhomescreenservicefeature .help-_-interaction-f {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 478px;
  position: absolute;
  top: 0px;
  width: 141px;
}

.servicepluginhomescreenservicefeature .help-guide-_-using-b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 274px;
  position: absolute;
  top: 0px;
  width: 154px;
}

.servicepluginhomescreenservicefeature .help-guide-copy {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 157px;
  position: absolute;
  top: 0px;
  width: 67px;
}

.servicepluginhomescreenservicefeature .help-_-guide-text {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 107px;
}

.servicepluginhomescreenservicefeature .group-4 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenservicefeature .group-5 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenservicefeature .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
