/* screen - servicepluginevcharginginteractionflow */

.servicepluginevcharginginteractionflow {
  background-color: var(--white);
  height: 1338px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginevcharginginteractionflow .group-5 {
  background-color: transparent;
  height: 854px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginevcharginginteractionflow .web-title-area {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginevcharginginteractionflow .web-tab-service-plug-in_cctv {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginevcharginginteractionflow .x3rd-depth {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginevcharginginteractionflow .feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginevcharginginteractionflow .interaction-flow {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 99px;
}

.servicepluginevcharginginteractionflow .group-1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginevcharginginteractionflow .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginevcharginginteractionflow .webgnb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
