/* screen - tabletoverviewscroll */

.tabletoverviewscroll {
  background-color: var(--white);
  height: 2781px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletoverviewscroll .group-9-LZ7uis {
  background-color: transparent;
  height: 791px;
  left: 420px;
  position: absolute;
  top: 421px;
  width: 1400px;
}

.tabletoverviewscroll .group-8-LZ7uis {
  background-color: transparent;
  height: 534px;
  left: 420px;
  position: absolute;
  top: 1362px;
  width: 1400px;
}

.tabletoverviewscroll .group-7-LZ7uis {
  background-color: transparent;
  height: 535px;
  left: 420px;
  position: absolute;
  top: 2046px;
  width: 1400px;
}

.tabletoverviewscroll .web-sub_-title_w-description-LZ7uis {
  background-color: transparent;
  height: 137px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletoverviewscroll .web-title-area-LZ7uis {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletoverviewscroll .lnbtablet_overview-LZ7uis {
  background-color: transparent;
  height: 990px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverviewscroll .rectangle-XtpJG0 {
  background-color: var(--concrete);
  height: 989px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverviewscroll .stacked-group-XtpJG0 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.tabletoverviewscroll .web-index-title-common-xxE79z {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.tabletoverviewscroll .group-xxE79z {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewscroll .empty-I24Ikn {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletoverviewscroll .line-copy-I24Ikn {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletoverviewscroll .empty-oexIME {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverviewscroll .web-index-title-reference-xxE79z {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletoverviewscroll .group-y6L3ta {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewscroll .empty-XXkHQp {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletoverviewscroll .line-copy-XXkHQp {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletoverviewscroll .empty-BAWPEo {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverviewscroll .web-index-title-reference-y6L3ta {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletoverviewscroll .group-copy-xxE79z {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewscroll .empty-copy-C1mvTF {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletoverviewscroll .line-copy-2-C1mvTF {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletoverviewscroll .empty-copy-2-C1mvTF {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverviewscroll .web-index-title-reference-copy-xxE79z {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletoverviewscroll .web-index-contents1d-xxE79z {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewscroll .web-index-contents1d-y6L3ta {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewscroll .web-index-contents2dpeth-xxE79z {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewscroll .web-index-contents2dpeth-copy-xxE79z {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewscroll .web-index-contents2dpeth-copy-2-xxE79z {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewscroll .web-index-contents2dpeth-copy-3-xxE79z {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewscroll .web-index-contents2dpeth-copy-4-xxE79z {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewscroll .web-index-contents2dpeth-copy-5-xxE79z {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewscroll .web-index-contents1dpeth_open_selected-xxE79z {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewscroll .web-index-contents1dpeth_close-copy-5-xxE79z {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewscroll .web-index-contents1dpeth_close-copy-3-xxE79z {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewscroll .line-XtpJG0 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletoverviewscroll .home-net-ui-guideline-XtpJG0 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.tabletoverviewscroll .webgnb-LZ7uis {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tabletoverviewscroll .rectangle-RCpExU {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletoverviewscroll .background-RCpExU {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletoverviewscroll .index-RCpExU {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.tabletoverviewscroll .web-index-select-2DA8Ml {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletoverviewscroll .web-index-unselect-2DA8Ml {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.tabletoverviewscroll .web-index-unelect_main-RCpExU {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}
