/* screen - tabletservicepluginvehicleinformationpopup */

.tabletservicepluginvehicleinformationpopup {
  background-color: var(--white);
  height: 2329px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluginvehicleinformationpopup .group-5 {
  background-color: transparent;
  height: 1054px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletservicepluginvehicleinformationpopup .group-3 {
  background-color: transparent;
  height: 642px;
  left: 420px;
  position: absolute;
  top: 1488px;
  width: 1400px;
}

.tabletservicepluginvehicleinformationpopup .feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.tabletservicepluginvehicleinformationpopup .one-content-type {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 109px;
}

.tabletservicepluginvehicleinformationpopup .group-1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginvehicleinformationpopup .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}
