/* screen - tabletservicepluginnotices */

.tabletservicepluginnotices {
  background-color: var(--white);
  height: 2363px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluginnotices .group-5 {
  background-color: transparent;
  height: 1054px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletservicepluginnotices .group-3 {
  background-color: transparent;
  height: 675px;
  left: 420px;
  position: absolute;
  top: 1488px;
  width: 1400px;
}

.tabletservicepluginnotices .group-1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginnotices .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}
