/* screen - tabletservicepluginsettingsedit */

.tabletservicepluginsettingsedit {
  background-color: var(--white);
  height: 3036px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluginsettingsedit .group-10 {
  background-color: transparent;
  height: 1020px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletservicepluginsettingsedit .group-9 {
  background-color: transparent;
  height: 1382px;
  left: 420px;
  position: absolute;
  top: 1454px;
  width: 1400px;
}

.tabletservicepluginsettingsedit .help-guide {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 65px;
}

.tabletservicepluginsettingsedit .edit {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 25px;
}

.tabletservicepluginsettingsedit .notification {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.tabletservicepluginsettingsedit .group-1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginsettingsedit .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}
