/* screen - tabletoverviewcontentsordering */

.tabletoverviewcontentsordering {
  background-color: var(--white);
  height: 2363px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletoverviewcontentsordering .group-3-9qt8Bm {
  background-color: transparent;
  height: 649px;
  left: 420px;
  position: absolute;
  top: 444px;
  width: 1400px;
}

.tabletoverviewcontentsordering .group-4-9qt8Bm {
  background-color: transparent;
  height: 970px;
  left: 420px;
  position: absolute;
  top: 1243px;
  width: 1400px;
}

.tabletoverviewcontentsordering .web-sub_-title_w-description-9qt8Bm {
  background-color: transparent;
  height: 160px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletoverviewcontentsordering .web-title-area-9qt8Bm {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletoverviewcontentsordering .lnbtablet_overview-9qt8Bm {
  background-color: transparent;
  height: 990px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverviewcontentsordering .rectangle-lUv2QT {
  background-color: var(--concrete);
  height: 989px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverviewcontentsordering .stacked-group-lUv2QT {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.tabletoverviewcontentsordering .web-index-title-common-quxw9V {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsordering .group-quxw9V {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsordering .empty-jaTdx5 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletoverviewcontentsordering .line-copy-jaTdx5 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletoverviewcontentsordering .empty-1zKwpV {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverviewcontentsordering .web-index-title-reference-quxw9V {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletoverviewcontentsordering .group-BsrNFl {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsordering .empty-6xm3ay {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletoverviewcontentsordering .line-copy-6xm3ay {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletoverviewcontentsordering .empty-CS4jaC {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverviewcontentsordering .web-index-title-reference-BsrNFl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletoverviewcontentsordering .group-copy-quxw9V {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsordering .empty-copy-BZtIkv {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletoverviewcontentsordering .line-copy-2-BZtIkv {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletoverviewcontentsordering .empty-copy-2-BZtIkv {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverviewcontentsordering .web-index-title-reference-copy-quxw9V {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletoverviewcontentsordering .web-index-contents1d-quxw9V {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsordering .web-index-contents1d-BsrNFl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsordering .web-index-contents2dpeth-quxw9V {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsordering .web-index-contents2dpeth-copy-quxw9V {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsordering .web-index-contents2dpeth-copy-2-quxw9V {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsordering .web-index-contents2dpeth-copy-3-quxw9V {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsordering .web-index-contents2dpeth-copy-4-quxw9V {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsordering .web-index-contents2dpeth-copy-5-quxw9V {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsordering .web-index-contents1dpeth_open_selected-quxw9V {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsordering .web-index-contents1dpeth_close-copy-5-quxw9V {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsordering .web-index-contents1dpeth_close-copy-3-quxw9V {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsordering .line-lUv2QT {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletoverviewcontentsordering .home-net-ui-guideline-lUv2QT {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.tabletoverviewcontentsordering .webgnb-9qt8Bm {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tabletoverviewcontentsordering .rectangle-tFwSjB {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletoverviewcontentsordering .background-tFwSjB {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletoverviewcontentsordering .index-tFwSjB {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.tabletoverviewcontentsordering .web-index-select-x8bnHA {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletoverviewcontentsordering .web-index-unselect-x8bnHA {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.tabletoverviewcontentsordering .web-index-unelect_main-tFwSjB {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}
