/* screen - tabletoverviewcontentsmessagearea */

.tabletoverviewcontentsmessagearea {
  background-color: var(--white);
  height: 3344px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletoverviewcontentsmessagearea .group-7-M9IJe7 {
  background-color: transparent;
  height: 867px;
  left: 420px;
  position: absolute;
  top: 375px;
  width: 1400px;
}

.tabletoverviewcontentsmessagearea .group-8-M9IJe7 {
  background-color: transparent;
  height: 962px;
  left: 420px;
  position: absolute;
  top: 1391px;
  width: 1400px;
}

.tabletoverviewcontentsmessagearea .group-9-M9IJe7 {
  background-color: transparent;
  height: 641px;
  left: 420px;
  position: absolute;
  top: 2503px;
  width: 1400px;
}

.tabletoverviewcontentsmessagearea .web-sub_-title_w-description-M9IJe7 {
  background-color: transparent;
  height: 91px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletoverviewcontentsmessagearea .web-title-area-M9IJe7 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletoverviewcontentsmessagearea .lnbtablet_overview-M9IJe7 {
  background-color: transparent;
  height: 990px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverviewcontentsmessagearea .rectangle-Rm8KM9 {
  background-color: var(--concrete);
  height: 989px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverviewcontentsmessagearea .stacked-group-Rm8KM9 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.tabletoverviewcontentsmessagearea .web-index-title-common-Hg1HLf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsmessagearea .group-Hg1HLf {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsmessagearea .empty-Nqk169 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletoverviewcontentsmessagearea .line-copy-Nqk169 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletoverviewcontentsmessagearea .empty-oDN8B5 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverviewcontentsmessagearea .web-index-title-reference-Hg1HLf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletoverviewcontentsmessagearea .group-xF6H7U {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsmessagearea .empty-xZRUXR {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletoverviewcontentsmessagearea .line-copy-xZRUXR {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletoverviewcontentsmessagearea .empty-DxIvTA {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverviewcontentsmessagearea .web-index-title-reference-xF6H7U {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletoverviewcontentsmessagearea .group-copy-Hg1HLf {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsmessagearea .empty-copy-Pp6Q2q {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletoverviewcontentsmessagearea .line-copy-2-Pp6Q2q {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletoverviewcontentsmessagearea .empty-copy-2-Pp6Q2q {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverviewcontentsmessagearea .web-index-title-reference-copy-Hg1HLf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletoverviewcontentsmessagearea .web-index-contents1d-Hg1HLf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsmessagearea .web-index-contents1d-xF6H7U {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsmessagearea .web-index-contents2dpeth-Hg1HLf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsmessagearea .web-index-contents2dpeth-copy-Hg1HLf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsmessagearea .web-index-contents2dpeth-copy-2-Hg1HLf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsmessagearea .web-index-contents2dpeth-copy-3-Hg1HLf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsmessagearea .web-index-contents2dpeth-copy-4-Hg1HLf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsmessagearea .web-index-contents2dpeth-copy-5-Hg1HLf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsmessagearea .web-index-contents1dpeth_open_selected-Hg1HLf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsmessagearea .web-index-contents1dpeth_close-copy-5-Hg1HLf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsmessagearea .web-index-contents1dpeth_close-copy-3-Hg1HLf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewcontentsmessagearea .line-Rm8KM9 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletoverviewcontentsmessagearea .home-net-ui-guideline-Rm8KM9 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.tabletoverviewcontentsmessagearea .webgnb-M9IJe7 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tabletoverviewcontentsmessagearea .rectangle-vdFkgh {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletoverviewcontentsmessagearea .background-vdFkgh {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletoverviewcontentsmessagearea .index-vdFkgh {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.tabletoverviewcontentsmessagearea .web-index-select-znxvx8 {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletoverviewcontentsmessagearea .web-index-unselect-znxvx8 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.tabletoverviewcontentsmessagearea .web-index-unelect_main-vdFkgh {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}
