/* screen - tabletservicefeaturecardmain */

.tabletservicefeaturecardmain {
  background-color: #ffffff;
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicefeaturecardmain .group-RvirUl {
  background-color: transparent;
  height: 150px;
  left: 420px;
  position: absolute;
  top: 290px;
  width: 730px;
}

.tabletservicefeaturecardmain .lnbc2-c-connector_0-RvirUl {
  background-color: transparent;
  height: 761px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicefeaturecardmain .rectangle-oOjuZx {
  background-color: #f2f2f2;
  height: 761px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicefeaturecardmain .stacked-group-oOjuZx {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.tabletservicefeaturecardmain .web-index-title-common-Lwczxw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.tabletservicefeaturecardmain .group-Lwczxw {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicefeaturecardmain .empty-Ntx8GM {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicefeaturecardmain .line-copy-Ntx8GM {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicefeaturecardmain .empty-8vDkPe {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicefeaturecardmain .web-index-title-reference-Lwczxw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletservicefeaturecardmain .group-HoGC5x {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicefeaturecardmain .empty-kJ2cev {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicefeaturecardmain .line-copy-kJ2cev {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicefeaturecardmain .empty-7mqrx7 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicefeaturecardmain .web-index-title-reference-HoGC5x {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletservicefeaturecardmain .group-copy-Lwczxw {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicefeaturecardmain .empty-copy-KFf1Q9 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicefeaturecardmain .line-copy-2-KFf1Q9 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicefeaturecardmain .empty-copy-2-KFf1Q9 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicefeaturecardmain .web-index-title-reference-copy-Lwczxw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletservicefeaturecardmain .web-index-contents1d-Lwczxw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicefeaturecardmain .web-index-contents1d-HoGC5x {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicefeaturecardmain .web-index-contents1dpeth_open_selected-Lwczxw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicefeaturecardmain .web-index-contents1dpeth_close-copy-5-Lwczxw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicefeaturecardmain .web-index-contents2dpeth-copy-7-Lwczxw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicefeaturecardmain .web-index-contents1dpeth_close-copy-3-Lwczxw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicefeaturecardmain .line-oOjuZx {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicefeaturecardmain .home-net-ui-guideline-oOjuZx {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.tabletservicefeaturecardmain .webgnb-RvirUl {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tabletservicefeaturecardmain .rectangle-8sztO7 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicefeaturecardmain .background-8sztO7 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicefeaturecardmain .index-8sztO7 {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.tabletservicefeaturecardmain .web-index-select-noaeW4 {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicefeaturecardmain .web-index-unselect-noaeW4 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.tabletservicefeaturecardmain .web-index-unelect_main-8sztO7 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}
