/* screen - tabletserviceplugininformation */

.tabletserviceplugininformation {
  background-color: var(--white);
  height: 2295px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletserviceplugininformation .group-3 {
  background-color: transparent;
  height: 1020px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletserviceplugininformation .group-1 {
  background-color: transparent;
  height: 641px;
  left: 420px;
  position: absolute;
  top: 1454px;
  width: 1400px;
}

.tabletserviceplugininformation .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugininformation .group-4 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}
