/* screen - tabletoverviewlistoftablet */

.tabletoverviewlistoftablet {
  background-color: var(--white);
  height: 3317px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletoverviewlistoftablet .group-6-2fpw73 {
  background-color: transparent;
  height: 980px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletoverviewlistoftablet .group-5-2fpw73 {
  background-color: transparent;
  height: 962px;
  left: 420px;
  position: absolute;
  top: 1414px;
  width: 1400px;
}

.tabletoverviewlistoftablet .group-3-2fpw73 {
  background-color: transparent;
  height: 641px;
  left: 420px;
  position: absolute;
  top: 2526px;
  width: 1400px;
}

.tabletoverviewlistoftablet .web-title-area-2fpw73 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletoverviewlistoftablet .lnbtablet_overview-2fpw73 {
  background-color: transparent;
  height: 990px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverviewlistoftablet .rectangle-rhe86O {
  background-color: var(--concrete);
  height: 989px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverviewlistoftablet .stacked-group-rhe86O {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.tabletoverviewlistoftablet .web-index-title-common-ORTTDL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.tabletoverviewlistoftablet .group-ORTTDL {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewlistoftablet .empty-0XjbBL {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletoverviewlistoftablet .line-copy-0XjbBL {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletoverviewlistoftablet .empty-9PI9RS {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverviewlistoftablet .web-index-title-reference-ORTTDL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletoverviewlistoftablet .group-nxbxFX {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewlistoftablet .empty-PbqrDd {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletoverviewlistoftablet .line-copy-PbqrDd {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletoverviewlistoftablet .empty-c1JUjV {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverviewlistoftablet .web-index-title-reference-nxbxFX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletoverviewlistoftablet .group-copy-ORTTDL {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewlistoftablet .empty-copy-JxtUBy {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletoverviewlistoftablet .line-copy-2-JxtUBy {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletoverviewlistoftablet .empty-copy-2-JxtUBy {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverviewlistoftablet .web-index-title-reference-copy-ORTTDL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletoverviewlistoftablet .web-index-contents1d-ORTTDL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewlistoftablet .web-index-contents1d-nxbxFX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewlistoftablet .web-index-contents2dpeth-ORTTDL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewlistoftablet .web-index-contents2dpeth-copy-ORTTDL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewlistoftablet .web-index-contents2dpeth-copy-2-ORTTDL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewlistoftablet .web-index-contents2dpeth-copy-3-ORTTDL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewlistoftablet .web-index-contents2dpeth-copy-4-ORTTDL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewlistoftablet .web-index-contents2dpeth-copy-5-ORTTDL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewlistoftablet .web-index-contents1dpeth_open_selected-ORTTDL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewlistoftablet .web-index-contents1dpeth_close-copy-5-ORTTDL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewlistoftablet .web-index-contents1dpeth_close-copy-3-ORTTDL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewlistoftablet .line-rhe86O {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletoverviewlistoftablet .home-net-ui-guideline-rhe86O {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.tabletoverviewlistoftablet .webgnb-2fpw73 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tabletoverviewlistoftablet .rectangle-O0ttVb {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletoverviewlistoftablet .background-O0ttVb {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletoverviewlistoftablet .index-O0ttVb {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.tabletoverviewlistoftablet .web-index-select-PTLRSY {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletoverviewlistoftablet .web-index-unselect-PTLRSY {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.tabletoverviewlistoftablet .web-index-unelect_main-O0ttVb {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}
