/* screen - tabletservicepluginreservevisitorvehiclereserve */

.tabletservicepluginreservevisitorvehiclereserve {
  background-color: var(--white);
  height: 2295px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluginreservevisitorvehiclereserve .group-4 {
  background-color: transparent;
  height: 1020px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletservicepluginreservevisitorvehiclereserve .group-1 {
  background-color: transparent;
  height: 641px;
  left: 420px;
  position: absolute;
  top: 1454px;
  width: 1400px;
}

.tabletservicepluginreservevisitorvehiclereserve .feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 45px;
}

.tabletservicepluginreservevisitorvehiclereserve .o {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 159px;
}

.tabletservicepluginreservevisitorvehiclereserve .x {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 158px;
}

.tabletservicepluginreservevisitorvehiclereserve .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginreservevisitorvehiclereserve .group-3 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}
