/* screen - tabletservicefeaturecard */

.tabletservicefeaturecard {
  background-color: #ffffff;
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicefeaturecard .group-5-jxx1xt {
  background-color: transparent;
  height: 114px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletservicefeaturecard .web-title-area-jxx1xt {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicefeaturecard .lnbc2-c-connector_1-jxx1xt {
  background-color: transparent;
  height: 761px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicefeaturecard .rectangle-acIpwI {
  background-color: #f2f2f2;
  height: 761px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicefeaturecard .stacked-group-acIpwI {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.tabletservicefeaturecard .web-index-title-common-QmjHpp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.tabletservicefeaturecard .group-QmjHpp {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicefeaturecard .empty-Rs475n {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicefeaturecard .line-copy-Rs475n {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicefeaturecard .empty-E818OY {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicefeaturecard .web-index-title-reference-QmjHpp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletservicefeaturecard .group-PnurKr {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicefeaturecard .empty-TAQ4Xy {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicefeaturecard .line-copy-TAQ4Xy {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicefeaturecard .empty-avuEXN {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicefeaturecard .web-index-title-reference-PnurKr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletservicefeaturecard .group-copy-QmjHpp {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicefeaturecard .empty-copy-WAxWxN {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicefeaturecard .line-copy-2-WAxWxN {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicefeaturecard .empty-copy-2-WAxWxN {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicefeaturecard .web-index-title-reference-copy-QmjHpp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletservicefeaturecard .web-index-contents1d-QmjHpp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicefeaturecard .web-index-contents1d-PnurKr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicefeaturecard .web-index-contents1dpeth_open_selected-QmjHpp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicefeaturecard .web-index-contents1dpeth_close-copy-5-QmjHpp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicefeaturecard .web-index-contents2dpeth-copy-7-QmjHpp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicefeaturecard .web-index-contents1dpeth_close-copy-3-QmjHpp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicefeaturecard .line-acIpwI {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicefeaturecard .home-net-ui-guideline-acIpwI {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.tabletservicefeaturecard .webgnb-jxx1xt {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tabletservicefeaturecard .rectangle-YnWJBv {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicefeaturecard .background-YnWJBv {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicefeaturecard .index-YnWJBv {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.tabletservicefeaturecard .web-index-select-o8L7b6 {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicefeaturecard .web-index-unselect-o8L7b6 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.tabletservicefeaturecard .web-index-unelect_main-YnWJBv {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}
