/* screen - tabletservicepluginenergyusage */

.tabletservicepluginenergyusage {
  background-color: var(--white);
  height: 4256px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluginenergyusage .group-5 {
  background-color: transparent;
  height: 1077px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletservicepluginenergyusage .group-4-copy {
  background-color: transparent;
  height: 963px;
  left: 420px;
  position: absolute;
  top: 2302px;
  width: 1400px;
}

.tabletservicepluginenergyusage .group-3 {
  background-color: transparent;
  height: 642px;
  left: 420px;
  position: absolute;
  top: 1511px;
  width: 1400px;
}

.tabletservicepluginenergyusage .group-3-copy {
  background-color: transparent;
  height: 642px;
  left: 420px;
  position: absolute;
  top: 3415px;
  width: 1400px;
}

.tabletservicepluginenergyusage .group-1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginenergyusage .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}
