/* screen - tabletservicepluginliveviewfeature */

.tabletservicepluginliveviewfeature {
  background-color: var(--white);
  height: 4306px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluginliveviewfeature .group-5 {
  background-color: transparent;
  height: 1020px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletservicepluginliveviewfeature .group-6 {
  background-color: transparent;
  height: 1020px;
  left: 320px;
  position: absolute;
  top: 2295px;
  width: 1600px;
}

.tabletservicepluginliveviewfeature .group-3 {
  background-color: transparent;
  height: 641px;
  left: 420px;
  position: absolute;
  top: 1454px;
  width: 1400px;
}

.tabletservicepluginliveviewfeature .group-3-copy {
  background-color: transparent;
  height: 641px;
  left: 420px;
  position: absolute;
  top: 3465px;
  width: 1400px;
}

.tabletservicepluginliveviewfeature .feature {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.tabletservicepluginliveviewfeature .incoming-call-_-feat {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.tabletservicepluginliveviewfeature .incoming-call-_-1 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 127px;
}

.tabletservicepluginliveviewfeature .incoming-call-_-2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 127px;
}

.tabletservicepluginliveviewfeature .incoming-call-_-3 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 115px;
}

.tabletservicepluginliveviewfeature .group-1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewfeature .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}
