/* screen - tabletoverviewindicatorbar */

.tabletoverviewindicatorbar {
  background-color: var(--white);
  height: 2351px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletoverviewindicatorbar .group-12-m4LRLf {
  background-color: transparent;
  height: 1867px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletoverviewindicatorbar .web-title-area-m4LRLf {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletoverviewindicatorbar .lnbtablet_overview-m4LRLf {
  background-color: transparent;
  height: 990px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverviewindicatorbar .rectangle-MJlNvp {
  background-color: var(--concrete);
  height: 989px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverviewindicatorbar .stacked-group-MJlNvp {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.tabletoverviewindicatorbar .web-index-title-common-ckbXu7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.tabletoverviewindicatorbar .group-ckbXu7 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewindicatorbar .empty-2rT3PF {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletoverviewindicatorbar .line-copy-2rT3PF {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletoverviewindicatorbar .empty-XNMLll {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverviewindicatorbar .web-index-title-reference-ckbXu7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletoverviewindicatorbar .group-QtIr6A {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewindicatorbar .empty-xceTRR {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletoverviewindicatorbar .line-copy-xceTRR {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletoverviewindicatorbar .empty-NJkioE {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverviewindicatorbar .web-index-title-reference-QtIr6A {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletoverviewindicatorbar .group-copy-ckbXu7 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewindicatorbar .empty-copy-9eP76Z {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletoverviewindicatorbar .line-copy-2-9eP76Z {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletoverviewindicatorbar .empty-copy-2-9eP76Z {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverviewindicatorbar .web-index-title-reference-copy-ckbXu7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletoverviewindicatorbar .web-index-contents1d-ckbXu7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewindicatorbar .web-index-contents1d-QtIr6A {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewindicatorbar .web-index-contents2dpeth-ckbXu7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewindicatorbar .web-index-contents2dpeth-copy-ckbXu7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewindicatorbar .web-index-contents2dpeth-copy-2-ckbXu7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewindicatorbar .web-index-contents2dpeth-copy-3-ckbXu7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewindicatorbar .web-index-contents2dpeth-copy-4-ckbXu7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewindicatorbar .web-index-contents2dpeth-copy-5-ckbXu7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewindicatorbar .web-index-contents1dpeth_open_selected-ckbXu7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewindicatorbar .web-index-contents1dpeth_close-copy-5-ckbXu7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewindicatorbar .web-index-contents1dpeth_close-copy-3-ckbXu7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletoverviewindicatorbar .line-MJlNvp {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletoverviewindicatorbar .home-net-ui-guideline-MJlNvp {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.tabletoverviewindicatorbar .webgnb-m4LRLf {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tabletoverviewindicatorbar .rectangle-AuawLx {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletoverviewindicatorbar .background-AuawLx {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletoverviewindicatorbar .index-AuawLx {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.tabletoverviewindicatorbar .web-index-select-pgXgxk {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletoverviewindicatorbar .web-index-unselect-pgXgxk {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.tabletoverviewindicatorbar .web-index-unelect_main-AuawLx {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}
