/* screen - tablettouchinteractionmain */

.tablettouchinteractionmain {
  background-color: #ffffff;
  height: 1334px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tablettouchinteractionmain .web-title-area-IJwuXZ {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tablettouchinteractionmain .group-IJwuXZ {
  background-color: transparent;
  height: 900px;
  left: 420px;
  position: absolute;
  top: 234px;
  width: 1400px;
}

.tablettouchinteractionmain .lnbc2-c-connector_1-IJwuXZ {
  background-color: transparent;
  height: 714px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tablettouchinteractionmain .rectangle-1CLbaO {
  background-color: #f2f2f2;
  height: 714px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tablettouchinteractionmain .stacked-group-1CLbaO {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.tablettouchinteractionmain .web-index-title-common-9gVqxx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.tablettouchinteractionmain .group-9gVqxx {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tablettouchinteractionmain .empty-Dl4b5H {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tablettouchinteractionmain .line-copy-Dl4b5H {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tablettouchinteractionmain .empty-Ix5ODx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tablettouchinteractionmain .web-index-title-reference-9gVqxx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tablettouchinteractionmain .group-5O1xcE {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tablettouchinteractionmain .empty-Z2za1A {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tablettouchinteractionmain .line-copy-Z2za1A {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tablettouchinteractionmain .empty-PWGhTV {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tablettouchinteractionmain .web-index-title-reference-5O1xcE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tablettouchinteractionmain .group-copy-9gVqxx {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tablettouchinteractionmain .empty-copy-ek5oQ8 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tablettouchinteractionmain .line-copy-2-ek5oQ8 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tablettouchinteractionmain .empty-copy-2-ek5oQ8 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tablettouchinteractionmain .web-index-title-reference-copy-9gVqxx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tablettouchinteractionmain .web-index-contents1d-9gVqxx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tablettouchinteractionmain .web-index-contents1d-5O1xcE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tablettouchinteractionmain .web-index-contents1dpeth_open_selected-9gVqxx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tablettouchinteractionmain .web-index-contents1dpeth_close-copy-5-9gVqxx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tablettouchinteractionmain .web-index-contents1dpeth_close-copy-3-9gVqxx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tablettouchinteractionmain .line-1CLbaO {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tablettouchinteractionmain .home-net-ui-guideline-1CLbaO {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.tablettouchinteractionmain .webgnb-IJwuXZ {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tablettouchinteractionmain .rectangle-KtUxWE {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tablettouchinteractionmain .background-KtUxWE {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tablettouchinteractionmain .index-KtUxWE {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.tablettouchinteractionmain .web-index-select-z4v7uN {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tablettouchinteractionmain .web-index-unselect-z4v7uN {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.tablettouchinteractionmain .web-index-unelect_main-KtUxWE {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}
